{% extends "base.html.twig" %}
{% block title %}Liste des clients{% endblock %} 
{% block body %}

        <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">


                        <div class="row">
                        <div class="form-group mb-0">
                           <div>
                                
                                <a href="{{path('ajout_livraison')}}" role="button" class="btn btn-primary waves-effect waves-light mr-1" 
                                style='float:right !important;margin-bottom: 20px !important;margin-left: 15px;'>
                                    Nouveau
                                </a>

                                                   
                             </div>
                            </div>
                         
                         <hr>
                            <div class="col-12">

                                <div class="card">
                                    <div class="card-body">

                                        <h4 class="card-title">Toutes les livraisons</h4>
                                        <p class="card-title-desc">La liste de tous vos livraisons s'affiche ici.
                                        </p>

                                        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th>Numero de Livraison</th>
                                                    <th>Description</th>                         
                                                    <th>Date</th>
                                                    <th>Commande</th>
                                                    <th>Action</th>                                                    
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {% for livraison in livraisons %}
    
                                                <tr>
                                                    <td>{{livraison.numeroLivraison}}</td>
                                                    <td>{{livraison.description}}</td>
                                                    <td>{{livraison.dateLivraison | date("d/m/Y")}}</td>
                                                    <td>{{livraison.commande.numeroCmd}}</td>
                                                    <td>
                                                    <a href="{{path('modifier_livraison',{'id':livraison.id})}}" class="mr-3 text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editer"><i class="mdi mdi-pencil font-size-18"></i></a>
                                                    <a href="javascript:void(0);" class="text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facture"><i class="mdi mdi-book font-size-18"></i></a>
                                                    <a href="{{path('supprimer_livraison',{'id':livraison.id})}}" class="text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Supprimer"><i class="mdi mdi-delete font-size-18"></i></a>
                                                    </td>                                                    
                                                </tr>

                                                {% endfor %}                                                                                       
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->

                        

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                  <!-- JAVASCRIPT -->
       


{% endblock %}
