{% extends "base.html.twig" %}
{% block title %}SkBilling |Liste des utilisateurs{% endblock %} 
{% block body %}




        {# <link rel="shortcut icon" href="{{ asset ('assets/images/favicon.ico') }}"> #}

        <!-- DataTables -->
        <link href="{{ asset ('assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset ('assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />

        <!-- Responsive datatable examples -->
        <link href="{{ asset ('assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />   

        {# <!-- Bootstrap Css -->
        <link href="{{ asset ('assets/css/bootstrap.min.css" id="bootstrap-style') }}" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{{ asset ('assets/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{{ asset ('assets/css/app.min.css') }}" id="app-style" rel="stylesheet" type="text/css" /> #}


        <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <div class="row">
                        <div class="col-12">
                         {% for label, messages in app.flashes %}
                                                        {% for message in messages %}
                                                            <div class="alert alert-{{ label }}">
                                                                {{ message }}
                                                            </div>
                                                        {% endfor %}
                                                    {% endfor %}
                         <div><div>

                        <div class="row">
                         
                                               

                        {# {% for message in app.flashes('success') %}
                            <div class="flash-notice">
                                {{ message }}
                            </div>
                        {% endfor %} #}
                        <div class="form-group mb-0">
                        
                       
                           <div>
                                
                                <a href='{{ path('registration_users') }}' role="button" class="btn btn-primary waves-effect waves-light mr-1" 
                                style='float:right !important;margin-bottom: 20px !important;margin-left: 15px;'>
                                    Nouveau
                                </a>

                                                   
                             </div>
                            </div>
                         
                         <hr>
                            <div class="col-12">

                                <div class="card">
                                    <div class="card-body">

                                        <h4 class="card-title">Informations Profil</h4>
                                        <p class="card-title-desc">Les informations de votre profil s'affichent ici.
                                        </p>

                                        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                            <thead>
                                                <tr>
                                                    {# <th>id</th> #}
                                                    <th>Nom</th>
                                                    <th>Email</th>
                                                    <th>Roles</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>


                                            <tbody>
                                                {% if users %}
    
                                                    <tr>
                                                        {# <td>{{user.id}}</td> #}
                                                        <td>{{users.name}}</td>
                                                        <td>{{users.email}}</td>
                                                        <td> 
                                                        {% for role in users.roles %}
                                                            {% if  role == "ROLE_USER" %}
                                                                Utilisateur
                                                            {% elseif  role == "ROLE_COM" %}
                                                                Commercial
                                                            {% elseif  role == "ROLE_TECH" %}
                                                                Technicien
                                                            {% elseif  role == "ROLE_ADMIN" %}
                                                                Administrateur
                                                            {% endif %}
                                                                                                                        
                                                        {% endfor %}
                                                        </td>
                                                         <td>
                                                            {# <a href="{{path('modification_client',{'id':client.id})}}" class="mr-3 text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="mdi mdi-pencil font-size-18"></i></a> #}
                                                            <a href="{{path('modifier_profil',{'id':users.id})}}" class="btn btn-success waves-effect waves-light mr-1" data-toggle="tooltip" data-placement="top" title="Modifier Mot de passe" data-original-title="Modifier Mot de passe">Modifier Mot de passe {#<i class="mdi mdi-pencil font-size-18"></i> #}</a>
                                                            {# <a href="" class="text-muted" data-toggle="tooltip" data-placement="top" title="Supprimer" data-original-title="Supprimer"><i class="mdi mdi-close font-size-18"></i></a> #}
                                                        </td>         
                                                    </tr>

                                                    {# {% for label, messages in app.flashes %}
                                                        {% for message in messages %}
                                                            <div class="alert alert-{{ label }}">
                                                                {{ message }}
                                                            </div>
                                                        {% endfor %}
                                                        {% endfor %} #}


                                                {% endif %}
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->

                    </div> <!-- container-fluid -->
                </div>
            </div>
                <!-- End Page-content -->

                  <!-- JAVASCRIPT -->
       
{% endblock %}

