$(document).ready(function () {
    $client = 0;
    $totalHT=0;
    $totalTTC=0;
    $description="";
    $numeroProforma = "";
    $nomClient = "";
    $mode = 0;
    $('a[href="#next"]').attr('class', 'd-none');
    $('a[href="#previous"]').attr('class', 'd-none');
    $('a[href="#finish"]').attr('class', 'd-none');
    //$('#form-horizontal-t-0').attr('href','');
    //$('#form-horizontal-t-1').attr('href','');
    //$('#form-horizontal-t-2').attr('href','');

    // CLIC SUR LE BOUTON D'AJOUT DU PRODUIT AU PANIER

    $('a[test="oui"]').click(function (e) {

        e.preventDefault();
        //$elm = $(this).parent().prev().children();
        //$i =  $(this).children();
        $elmtA = $(this);
        $id = $(this).attr("idprod");
        $route = Routing.generate('ajout_panier', { id: $id });
        $(this).attr('class', 'd-none');
        $.ajax({
            url: $route,
            type: 'post',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                $elmtA.after('<i class="mdi mdi-check-circle font-size-28"></i>') ;
                
            },
            error: function () {
                alert('Une erreur s\'est produite');
            }
        })
    });

    

    //BOUTON SUIVANT QUI PASSE AUX ETAPES SUIVANTES

    $('#btnS').click(function (e) {

        //console.log($mode);
        //console.log($info);
        //$numeroCmd = $('#commande_numeroCmd').val();
        $description=$('#proforma_description').val();
        $client = $('#proforma_Client').val();
        $nomClient = $('#proforma_Client option:selected').text();
        $route = Routing.generate('voir_panier');
        $info = $('li.last').attr('aria-selected');
        $mode = $mode + 1;
        if ($mode == 3) {

        }
        if ($mode == 2) {
            $(this).attr('class', 'd-none');
            $('#btnP').attr('class', 'd-none');

            $('#end').removeClass("d-none");
            $('#endoperation').removeClass("d-none");

            $('#nomclientProforma').text($nomClient);
            $('#resume tbody').html('');
            $('#resume tfoot').html('');
            $.ajax({
                url: $route,
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    $total = 0;
                    //console.log(data);
                    var donnees = JSON.parse(data[0]);

                    for (var i = 0; i < donnees.length; i++) {
                        
                        //var valeur = donnees[i].produit.id;
                        //var qte = donnees[i].quantite;
                        var prix = donnees[i].quantite * donnees[i].produit.prixHT;
                        $totalHT = $totalHT + prix;  

                        $total = $total + prix;
                        
                        $('#resume tbody').append('<tr><td>' + donnees[i].produit.nom + '</td>' +
                            '<td>' + prix + ' F CFA</td></tr>');

                    }
                    $tva = $total * 0.18;
                    $ttc = $total + $tva;
                    $totalTTC=$ttc;
                    $('#resume tfoot').append('<tr><th>TVA</th><td><span>' + $tva + ' F CFA</span></td></tr>');
                    $('#resume tfoot').append('<tr><th>TOTAL</th><td><span>' + $ttc + ' F CFA</span></td></tr>');


                },
                error: function () {
                    alert('Une erreur s\'est produite');
                }
            })
        }
        // swal("test"); fonction pour une boite alert olus jolie
        $('#tabpanier tbody').html('');
        //this.attr('class','d-none');
        //console.log($lien);
        $.ajax({
            url: $route,
            type: 'get',
            dataType: 'json',
            success: function (data) {

                // console.log(data[0]);
                var donnees = JSON.parse(data[0]);
                //console.log(donnees);

                for (var i = 0; i < donnees.length; i++) {
                    // var chemin = "{{path('retirer_panier',{'id':donnees[i].produit.id})}}";
                    var valeur = donnees[i].produit.id;
                    var qte = donnees[i].quantite;
                    var stock= donnees[i].produit.stock;
                    //console.log(qte);
                    $('#tabpanier tbody').append('<tr id=' + valeur + '>' +
                        '<td><a class="suppr" href="#" suppr="suppr"><i class="mdi mdi-delete font-size-48 suppr" prodid=' + valeur + '></i></a></td>' +
                        '<td>' + donnees[i].produit.nom + '</td>' +
                        '<td>' + donnees[i].produit.prixHT + ' F CFA</td>' + '<td><input type="number" class="" value=' + qte + ' min="1" max= '+ stock +'><i class="mdi mdi-autorenew large modif" prodid=' + valeur + '></i></td>' +
                        '<td>' + donnees[i].produit.prixHT * qte + ' F CFA</td></tr>');
                }
                $('a[href="#next"]').trigger('click');
            },
            error: function () {
                alert('Une erreur s\'est produite');
            }
        })
    });

    $('#btnP').click(function (e) {
        $('a[href="#previous"]').trigger('click');
        $mode = $mode - 1;
        console.log($mode);

    });

    // CLIC SUR LE BOUTON DE MODIFICATION DE QUANTITE

    $(document).on("click", "i.modif", function () {
        $id = $(this).attr('prodid');
        $elmqte = $(this).prev();
        $qte = $elmqte.val();
        //console.log($qte);
        $route = Routing.generate('modifier_panier', { id: $id, qte: $qte });

        $.ajax({
            url: $route,
            type: 'post',
            dataType: 'json',
            success: function (data) {

                var donnees = JSON.parse(data[0]);
                // console.log(donnees);
                $total = $qte * donnees[0].produit.prixHT;
                //console.log($total);

                $elmqte.parent().next().text($total + ' F CFA');
                //$elmtA.after('<i class="mdi mdi-check-circle font-size-28"></i>');

            },
            error: function () {
                alert('Une erreur s\'est produite');
            }
        });
    });

    // BOUTON DE SUPPRESSION D'UN ELEMENT DU PANIER

    $(document).on("click", "i.suppr", function (e) {
        e.preventDefault();
        $id = $(this).attr('prodid');
        //console.log($id);
        $route = Routing.generate('supprimer_panier', { id: $id });

        $.ajax({
            url: $route,
            type: 'post',
            dataType: 'json',
            success: function (data) {

                console.log(data);
                $test = document.getElementById($id);
                //console.log($test);
                $test.remove();

                // console.log($(this).parent());
                // $(this).parent().parent().remove();
                $('a[prodid=' + $id + ']').removeClass("d-none");
                $('a[prodid=' + $id + ']').next().remove();

            },
            error: function () {
                alert('Une erreur s\'est produite');
            }
        });

    });

    // CLIC SUR LE BOUTON FINAL

    $('#end').click(function (e) {

        //console.log($client);
        //console.log($numeroCmd);
        //$paye =proforma_paye potion:selected').val(); 
        $client = $('#proforma_Client').val();
        $nomClient = $('#proforma_Client option:selected').text();
        $route = Routing.generate('valider_prof', {client:$client, desc:$description,ht:$totalHT,ttc:$totalTTC});
        $route2 = Routing.generate('liste_prof');
        $.ajax({
            url:$route,
            type:'post',
            dataType:'html',
            success: function (data) {
                window.location.href = $route2;
            },
            error: function () {
                alert('Une erreur s\'est produite');
              }
        })
    });

    $('#endoperation').click(function (e) {
        $route = Routing.generate('annuler_prof');
        $route2 = Routing.generate('ajout_prof');
        $.ajax({
            url: $route,
            type: 'post',
            dataType: 'html',
            success: function (data) {

                window.location.href = $route2 ;
            },
            error: function () {
                alert('Une erreur s\'est produite');
            }
        })
    });

})
