{% extends 'base.html.twig' %}

{% block title %}Error 404 | SkBilling - Logiciel de facturation normalisée{% endblock %} 

{% block stylesheets %}{% endblock %}

{% block body %}
    

        
       <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-md-8 offset-md-3 mx-auto">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="ex-page-content text-center">
                                            <h1 class="">404!</h1>
                                            <h3 class="">Désolé, page non trouvée</h3><br>
                                            <a class="btn btn-primary mb-5 waves-effect waves-light" href="/">Retour au Dashboard</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

    

{% endblock %}