{% extends 'base.html.twig' %}
{% block title %}SkBilling |Ajout des interventions{% endblock %} 


{% block body %}

{# {% block stylesheets %}

    <link href="{{ asset ('assets/libs/select2/css/select2.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset ('assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css') }}" rel="stylesheet">
        <link href="{{ asset ('assets/libs/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css') }}" rel="stylesheet">
        <link href="{{ asset ('assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css') }}" rel="stylesheet" />
    
{% endblock %} #}

<div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">

                                        <h4 class="card-title">Informations Interventions</h4>
                                        <p class="card-title-desc">Veillez renseigner toutes les informations relatives à l'intervention</p>
                                        
                                        {{ form_start(formIntervention,{'attr':{'class':'custom-validation'}})}}
                                        {# <form class="custom-validation" action="#"> #}


                                            <div class="form-group">
                                                <label>Description</label>
                                                {# <input type="text" class="form-control" required placeholder="Description de l'ntervention"/> #}

                                                {{ form_widget(formIntervention.description,{'attr':{'class':'form-control','placeholder':"Description de l'intervention"}}) }}
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label">Client</label>{{ form_widget(formIntervention.client,{'attr':{'class':'form-control','placeholder':"Nom du client"}}) }}

                                            </div>
                                            <div class="form-group">
                                                <label>Total HT</label>
                                                {# <input type="text" class="form-control" required placeholder="Description de l'ntervention"/> #}

                                                {{ form_widget(formIntervention.totalHT,{'attr':{'class':'form-control','value':0}}) }}
                                            </div>
                                            <div class="form-group">
                                                <label>Total TTC</label>
                                                {# <input type="text" class="form-control" required placeholder="Description de l'ntervention"/> #}

                                                {{ form_widget(formIntervention.totalTTC,{'attr':{'class':'form-control','value':0}}) }}
                                            </div>
                                            
                                            <div class="form-group mb-0">
                                                <div>
                                                    <button type="submit" class="btn btn-success waves-effect waves-light mr-1">
                                                        Sauvegarder
                                                    </button>
                                                     <a href="{{path('liste_intervention')}}" role="button" class="btn btn-secondary waves-effect" 
                                                     >
                                                    Annuler
                                                    </a>
                                                </div>
                                            </div>                                          
                                        
                                        {{ form_end (formIntervention) }}
                                    </div>
                                </div>
                            </div> <!-- end col --> 
                        </div> <!-- end row -->

                        

                    </div> <!-- container-fluid -->
                </div>

            {# {% block javascripts %}
                 <!-- Required datatable js -->
        <script src="{{ asset ('assets/libs/datatables.net/js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset ('assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
        <script src="{{ asset ('assets/js/pages/datatables.init.js') }}"></script> 
            <!-- Buttons examples -->
        <script src="{{ asset ('assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
        <script src="{{ asset ('assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js') }}"></script>
         <script src="{{ asset ('assets/libs/jszip/jszip.min.js') }}"></script>
        <script src="{{ asset ('assets/libs/pdfmake/build/pdfmake.min.js') }}"></script>
        <script src="{{ asset ('assets/libs/pdfmake/build/vfs_fonts.js') }}"></script>
        <script src="{{ asset ('assets/libs/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
        <script src="{{ asset ('assets/libs/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
        <script src="{{ asset ('assets/libs/datatables.net-buttons/js/buttons.colVis.min.js') }}"></script>
            {% endblock %} #}
{% endblock %}

