{% extends "base.html.twig" %}
{% block title %}SkBilling |Liste des interventions{% endblock %} 
{% block body %}

        <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">


                        <div class="row">
                        <div class="form-group mb-0">
                           <div>
                                
                                <a href="{{path('ajout_intervention')}}" role="button" class="btn btn-primary waves-effect waves-light mr-1" 
                                style='float:right !important;margin-bottom: 20px !important;margin-left: 15px;'>
                                    Nouveau
                                </a>

                                                   
                             </div>
                            </div>
                         
                         <hr>
                            <div class="col-12">

                                <div class="card">
                                    <div class="card-body">

                                        <h4 class="card-title">Toutes les Interventions</h4>
                                        <p class="card-title-desc">La liste de tous vos interventions s'affiche ici.
                                        </p>

                                        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th>Numero Intervention</th>
                                                    <th>Description</th>                         
                                                    <th>Client</th>
                                                    <th>Date Intervention</th>
                                                    <th>Action</th>                                                    
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {% for intervention in interventions %}
    
                                                <tr>
                                                    <td>{{intervention.numeroIntervention}}</td>
                                                    <td>{{intervention.description}}</td>
                                                    <td>{{intervention.client.name}}</td>
                                                    <td>{{intervention.dateIntervention | date("d/m/Y")}}</td>
                                                    <td>
                                                    <a href="{{path('modifier_intervention',{'id':intervention.id})}}" class="mr-3 text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editer"><i class="mdi mdi-pencil font-size-18"></i></a>
                                                    
                                                    
                                                    
                                                    {% if intervention.facture is null %}                                                                                                                    
                                                                <a href="{{path('ajout_facture',{'id':intervention.id,'fac':2})}}" class="text-muted" data-toggle="tooltip" data-placement="top" title="Editer la facture" data-original-title="Facture">

                                                                    <i class="mdi mdi-book font-size-18"></i>
                                                                </a>
                                                     {% endif %}
                                                    {% if intervention.facture is  not null %}
                                                    <a href="{{path('vue_Cmdfacture',{'id':intervention.id,'cas':2})}}" class="text-muted" data-toggle="tooltip" data-placement="top" title="Voir la facture" data-original-title="Facture">

                                                            <i class="mdi mdi-eye font-size-18"></i>
                                                        </a>

                                                    {% endif %}
                                                    <a href="{{path('supprimer_intervention',{'id':intervention.id})}}" class="text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Supprimer"><i class="mdi mdi-delete font-size-18"></i></a>
                                                </td>
                                                </tr>

                                                {% endfor %}                                                                                             
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->

                        

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                  <!-- JAVASCRIPT -->
       


{% endblock %}
