{% extends 'base.html.twig' %}
{% block title %}SkBilling |Ajout des produits{% endblock %} 

{% block body %}


	<div class="main-content">

		<div class="page-content">
			<div class="container-fluid">

				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-body">

								<h4 class="card-title">Informations Produit</h4>
								<p class="card-title-desc">Veuillez renseigner toutes les informations relatives au produit.</p>
								{{ form_start(formProduit,{'attr':{'class':'custom-validation'}})}}
								{# <form class="custom-validation" action="#"> #}
								<div class="form-group">
									<label>Nom</label>
									{# <input type="text" class="form-control" required placeholder="Nom du produit "/> #}
									{{ form_widget(formProduit.nom,{'attr':{'class':'form-control','placeholder':"Nom du produit "}})  }}
								</div>

								<div class="form-group">
									<label>Description</label>
									{# <input type="text" class="form-control" required placeholder="Description du produit"/> #}
									{{ form_widget(formProduit.description,{'attr':{'class':'form-control','placeholder':"Description du produit"}}) }}
								</div>


								<div class="form-group">
									<label>Prix HT</label>
									<div>
										{#  <input data-parsley-type="alphanum" type="number"
										                                                           class="form-control" required
										                                                           placeholder="Prix hors taxe du produit"/> #}
										{{ form_widget(formProduit.prixHT,{'attr':{'class':'form-control','placeholder':"Prix hors taxe du produit"}}) }}
									</div>
								</div>

								<div class="form-group">
									<label>Prix TTC</label>
									<div>

										{{ form_widget(formProduit.prixTTC,{'attr':{'class':'form-control','placeholder':"Prix toutes taxes comprises du produit "}}) }}
									</div>
								</div>
								<div class="form-group">
									<label>Stock</label>
									<div>

										{{ form_widget(formProduit.stock,{'attr':{'class':'form-control','placeholder':"Quantité produit en stock"}}) }}
									</div>
								</div>

								<div class="form-group mb-0" data-confirm="Etes-vous certain de vouloir Sauvergarder?">
									<div>
										<button type="submit" class="btn btn-success waves-effect waves-light mr-1" >
											Sauvegarder
										</button>
										<button type="reset" class="btn btn-secondary waves-effect">
											Annuler
										</button>
									</div>
								</div>

								{# </form> #}
								{{ form_end (formProduit) }}
							</div>
						</div>
					</div>
					<!-- end col -->

				</div>
				<!-- end row -->


			</div>
			<!-- container-fluid -->
		</div>


	{% endblock %}

	{% block javascripts  %}{% endblock %}