<table>
	<tr>
			<td>NOM</td>
			<td>DESCRIPTION</td>
			<td>PRIX_HT</td>
			<td>PRIX_TTC</td>
			<td>STOCK</td>
		</tr>

{% for produit in produits %}
	
	<tr>
		<td>{{produit.nom}}</td>
		<td>{{produit.description}}</td>
		<td>{{produit.prixHT}}</td>
		<td>{{produit.prixTTC}}</td>
		<td>{{produit.stock}}</td>
	</tr>

{% endfor %}
</table>