{% extends "base.html.twig" %}
{% block title %}SkBilling |Liste des produits{% endblock %} 
{% block body %}

        <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">


                        <div class="row">
                        <div class="form-group mb-0">
                           <div>
                                
                                <a href='{{path('ajout_produit')}}' role="button" class="btn btn-primary waves-effect waves-light mr-1" 
                                style='float:right !important;margin-bottom: 20px !important;margin-left: 15px;'>
                                    Nouveau
                                </a>

                                                   
                             </div>
                            </div>
                         
                         <hr>
                            <div class="col-12">

                                <div class="card">
                                    <div class="card-body">

                                        <h4 class="card-title">Tous les produits</h4>
                                        <p class="card-title-desc">La liste de tous vos produits s'affichent ici.
                                        </p>

                                        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th>Nom du produit</th>
                                                    <th>Description du produit</th>
                                                    <th>Prix HT</th>
                                                    <th>Prix TTC</th>
                                                    <th>Stock</th>
                                                    <th>Action</th>                                                   
                                                </tr>
                                            </thead>


                                            <tbody>
                                        
                                                {% for produit in produits %}
    
                                                    <tr>
                                                        <td>{{produit.nom}}</td>
                                                        <td>{{produit.description}}</td>
                                                        <td>{{produit.prixHT}}</td>
                                                        <td>{{produit.prixTTC}}</td>
                                                        <td>{{produit.stock}}</td>
                                                        <td>
                                                            <a href="{{path('modifier_produit',{'id':produit.id})}}" class="mr-3 text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="mdi mdi-pencil font-size-18"></i></a>
                                                            <a href="{{path('supprimer_produit',{'id':produit.id})}}" class="text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="mdi mdi-close font-size-18"></i></a>
                                                        </td>        
                                                    </tr>


                                                {% endfor %}
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->

                        

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                  <!-- JAVASCRIPT -->
       


{% endblock %}