{% extends "base.html.twig" %}
{% block title %}SkBilling |Modofier l'utilisateur {% endblock %} 
{% block body %}




        {# <link rel="shortcut icon" href="{{ asset ('assets/images/favicon.ico') }}"> #}

        <!-- DataTables -->
        <link href="{{ asset ('assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset ('assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />

        <!-- Responsive datatable examples -->
        <link href="{{ asset ('assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />   

        {# <!-- Bootstrap Css -->
        <link href="{{ asset ('assets/css/bootstrap.min.css" id="bootstrap-style') }}" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{{ asset ('assets/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{{ asset ('assets/css/app.min.css') }}" id="app-style" rel="stylesheet" type="text/css" /> #}


        <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <div class="row">
                        
                         
                         <hr>
                            <div class="col-12">

                                <div class="card">
                                    <div class="card-body">

                                        
                                        <p class="card-title-desc">Modifier l'utilisateur.</p>
                                        

                                            {{form(userForm)}}

                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->

                        

                    </div> <!-- container-fluid -->
                </div>
            </div>
                <!-- End Page-content -->

                  <!-- JAVASCRIPT -->
       
{% endblock %}

