{% extends 'base.html.twig' %}
{% block title %}SkBilling |Ajout des ventes{% endblock %} 

{% block body %}

	<div class="main-content">

		<div class="page-content">
			<div class="container-fluid">

				<div class="row">
					<div class="col-sm-12">
						<div class="card">
							<div class="card-body">

								<h4 class="card-title">Nouvelle Vente</h4>
								<p class="card-title-desc">Veuillez renseigner toutes les informations relatives à la vente</p>

								<form id="form-horizontal" class="form-horizontal form-wizard-wrapper">
									<h3>Choix Produits</h3>

									<fieldset>
										<div class="row">
											{# <div class="col-md-6">
												<div class="form-group row">

													<label for="vente_paye" class="col-lg-3 col-form-label">Paye</label>
													<div class="col-lg-6">
														{{ form_widget(formVente.paye,{'attr':{'class':'form-control','placeholder':"Numéro de la commande "}})  }}
													</div>
												</div>
											</div>  #}

											<div class="col-md-6">
												<div class="form-group row">
													<label for="vente_client" class="col-lg-3 col-form-label">
														Client :
													</label>
													
													<span class="form-group">
														<div class="input-group">
															{{ form_widget(formVente.client,{'attr':{'class':'form-control'}}) }}
														</div>
													</span>
												</div>
											</div>
										</div>


										<div class="row">
											<div class="col-12">

												<div class="card">
													<div class="card-body">

														<h4 class="card-title">Tous les produits</h4>
														<p class="card-title-desc">La liste de tous vos produits s'affiche ici.
														</p>

														<table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
															<thead>
																<tr>
																	<th>Nom du produit</th>
																	<th>Prix HT</th>
																	<th>Action</th>
																</tr>
															</thead>
															<tbody>
																{% for produit in produits %}
																	<tr>
																		<td>{{produit.nom}}</td>
																		<td>{{produit.prixHT}}</td>
																		<td>
																			<a href="" test="oui" class="mr-3 text-muted panier" data-toggle="tooltip" idprod="{{produit.id}}" data-placement="top" title="Ajouter à la liste" data-original-title="Ajouter">

																				<i class="mdi mdi-plus font-size-28"></i>
																			</a>
																		</td>

																	</tr>

																</tbody>

															{% endfor %}
														</tbody>
													</table>
												</div>
											</div>
										</div>
										<!-- end col -->
									</div>
								</fieldset>

								<h3>Panier</h3>
								<fieldset>
									<div class="row">
										<div class="col-lg-12">
											<div class="card">
												<div class="card-body">

													<h4 class="card-title" style='text-align:center;'>Votre Panier</h4>
													<div class="table-responsive">
														<table class="table table-bordered mb-0" id="tabpanier">

															<thead>
																<tr>
																	{# <th>#</th> #}
																	<th>Action</th>
																	<th>Nom du Produit</th>
																	<th>Prix</th>
																	<th>Quantité</th>
																	<th>Sous-total</th>

																</tr>
															</thead>
															<tbody></tbody>
															{# <tfoot>
																<tr>

																	<td colspan="5">
																		<button type="submit" class="btn btn-primary waves-effect waves-light mr-1" style='float:right;'>MISE A JOUR</button>
																	</td>

																</tr>

															</tfoot> #}
														</table>

													</div>

												</div>


											</div>

										</div>
										<!-- end col -->

										{#  #}

									</div>
									<!-- end row -->


								</fieldset>
								<h3>Détails Vente
								</h3>
								<fieldset>
									<div class="row">
										<div class="col-lg-12">
											<div class="table-responsive">
												<tr>
													<div class="row">
														<div class="col-md-6">
															<div
																class="form-group row">
																{# <label for="" class="">Client : </label> #}
																<label class="col-lg-3 col-form-label">
																	Client</label>
																<div class="col-md-6">
																	<h6>
																		<span id='nomclientVente'></span>
																	</h6>
																</div>
															</div>
														</div>

														<div class="col-md-6">
															<div class="form-group row">
																<label class="col-lg-3 col-form-label">Date :</label>
																<div class="col-md-6">
																	<h6>
																		<span>{{ "now"|date("d/m/Y") }}</span>

																	</h6>
																</div>
															</div>
														</div>
														{# my end row #}

														<table class="table table-bordered mb-0" id="resume">
															<thead style='background-color:#E9F2FB'>
																<tr>

																	<th style='padding:1.5rem !important;'>Produits</th>
																	<th style='padding:1.5rem !important;'>Sous-total</th>
																</tr>
															</thead>
															<tbody></tbody>
															<tfoot>

																<tr class="cart-subtotal">
																	<th>TVA</th>
																	<td style='background-color:#bbbf7;padding:1.5rem !important;'>
																		<span class="">47.500&nbsp;<span class="">CFA</span>
																		</span>
																	</td>
																</tr>
																<tr class="cart-subtotal">
																	<th>Total</th>
																	<td style='background-color:#f7f7f7;padding:1.5rem !important;'>
																		<span class="">87.500&nbsp;<span class="">CFA</span>
																		</span>
																	</td>
																</tr>
															</tfoot>

														</table>
													</div>
												</tr>
											</div>
										</div>
									</fieldset>
								</form>
								<div class="form-group mb-0" style='float:right;'>
									<div>
										
										<button class="btn btn-success waves-effect waves-light mr-1" id="btnP">
											Précédent
										</button>

										<button class="btn btn-success waves-effect waves-light mr-1" id="btnS">
											Suivant
										</button>

									</div>
								</div>
								<div class="form-group mb-0" style='float:right;'>
									
									<div>
										<button class="btn btn-success waves-effect waves-light mr-1 d-none" id="endoperation">

										Annuler

									</button>

									<button class="btn btn-success wavefs-effect waves-light mr-1 d-none" id="end">
										Terminer
									</button>

									</div>
									
									{# <a href="{{path('liste_vente')}}" class="d-none" id="accueil"></a> #}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>


		<!-- container-fluid -->
	</div>
	<!-- End Page-content -->
{% endblock %}
{% block javascripts %}

	<script src="{{ asset ('assets/js/vente/vente.js.twig') }}"></script>
{% endblock %}
