{% extends "base.html.twig" %}
{% block title %}SkBilling |Ajout des ventes{% endblock %} 
{% block body %}
{% if test==1 %}
        <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">


                        <div class="row">
                        <div class="form-group mb-0">
                           <div>
                                
                                <a href='ajoutProduit' role="button" class="btn btn-primary waves-effect waves-light mr-1" 
                                style='float:right !important;margin-bottom: 20px !important;margin-left: 15px;'>
                                    Nouveau
                                </a>

                                                   
                             </div>
                            </div>
                         
                         <hr>
                            <div class="col-12">

                                <div class="card">
                                    <div class="card-body">

                                        <h4 class="card-title">Tous les produits</h4>
                                        <p class="card-title-desc">La liste de tous vos produits s'affichent ici.
                                        </p>
                                        
                                        {{ form_start(formVente,{'attr':{'class':'custom-validation'}})}}
                                        
                                            <div class="form-group">
                                                <label >Client</label>

                                                {{form_widget(formVente.client,{'attr':{'class':'form-control'}})}}

                                                {# <input type="text" class="form-control" required placeholder="NUM_INT01"/> #}

                                            </div>

                                        {{ form_end (formVente) }}

                                        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                                <thead>
                                                    <tr>
                                                        <th>Nom du produit</th>
                                                        <th>Description du produit</th>
                                                        <th>Prix HT</th>
                                                        <th>Prix TTC</th>
                                                        <th>Stock</th>
                                                        <th>Action</th>                                                   
                                                    </tr>
                                                </thead>

                                            {# {{ form_start (formVente) }} #}
                                                <tbody>
                                                    
                                                    {% for produit in produits %}

                                                        <tr>
                                                            <td>{{produit.nom}}</td>
                                                            <td>{{produit.description}}</td>
                                                            <td>{{produit.prixHT}}</td>
                                                            <td>{{produit.prixTTC}}</td>
                                                            <td>{{produit.stock}}</td>
                                                            <td>
                                                                <a href="{{path('vente_add',{'id':produit.id})}}" class="mr-3 text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="mdi mdi-pencil font-size-18"></i></a>
                                                                <a href="{# {{path('supprimer_produit',{'id':produit.id})}} #}" class="text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="mdi mdi-close font-size-18"></i></a>
                                                            </td>        
                                                        </tr>


                                                    {% endfor %}

                                                </tbody>
                                        </table>
                                        <a href="{{path('voir_panier')}}"><button type="submit" class="btn btn-success">
                                                Suivant
                                        </button></a>
                                        
                        
                                      

                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->

                        

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->


{% else %}
        <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">


                        <div class="row">
                        <div class="form-group mb-0">
                            </div>
                         
                         <hr>
                            <div class="col-12">

                                <div class="card">
                                    <div class="card-body">

                                        <h4 class="card-title">Produits ajoutés</h4>
                                        <p class="card-title-desc">La liste de tous vos produits s'affiche ici.
                                        </p>

                                        
                                        <form action="{{path('voir_panier')}}" method="post">
                                        {% if elements | length >0 %}
                                        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                                    <thead>

                                                        <tr>
                                                            <th>Nom du produit</th>
                                                            <th>Prix HT</th>
                                                            <th>Prix TTC</th>
                                                            <th>Quantite</th>
                                                            <th>Total</th>
                                                            <th>Retirer</th>
                                                        </tr>
                                                    </thead>


                                                    <tbody>
                                                                
                                                        {% for element in elements  %}

                                                            <tr>
                                                                <td>{{element.prod.nom}}  </td>
                                                                <td>{{element.prod.prixHT}} </td>
                                                                <td>{{element.prod.prixTTC}} </td>
                                                                <td><input id="QTE" name="qte" type="number" value="{{element.quantite}}">

                                                                <a href="{{path('voir_panier',{'x':element.prod.id})}}"> 
                                                                    <button type="submit">
                                                                        Modifier
                                                                    </button>
                                                                   
                                                                </a>

                                                                 </td>
                                                                {# <td>{{element.quantite}}</td> #}
                                                                <td>{{element.prod.prixTTC * element.quantite}} </td> 
                                                                <td>
                                                                    <a href="{{path('retirer',{'id':element.prod.id,'quantite':element.quantite})}}" class="btn btn-danger btn-sm">
                                                                    <i class="fas fa-trash"></i>
                                                                    </a> 
                                                                </td>        
                                                            </tr>                                               
                                                        {% endfor %}

                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="4" class="text-right">Total : </td>
                                                            <td>{{ total }}</td>
                                                            <td></td>
                                                        </tr>

                                                    </tfoot>
                                                    
                                                   {#  <a href="{{path('voir_panier')}}">
                                                        <button type="submit">Modifier</button>
                                                    </a> #}
                                        </table>
                                        
                                        </form>
                                    {% else %}
                                        <p>C'est vide</p>
                                    {% endif %} 
                                    <a href="{{path('voir_boutique')}}"><button type="submit" class="btn btn-success">
                                                Precedant
                                        </button></a>
{% endif %}
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->

                        

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->                

















                  <!-- JAVASCRIPT -->
       


{% endblock %}