{% extends "base.html.twig" %}
{% block title %}Liste des ventes{% endblock %} 
{% block body %}

        <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                    <div class="row">
                                <div class="col-12">
                                    <address class="font-size-18">
                                        <strong>Vente: </strong>{{vente.numeroVente}}<br>
                                        <strong>Date:</strong> {{vente.dateVente | date("d/m/Y")}}<br>
                                        <strong>Client: </strong> {{vente.client.name}}<br>
                                        
                                    </address>
                                </div>
                    
                    </div>
                        <div class="row">
                        {# <div class="form-group mb-0">
                           <div>
                                
                                <a href='ajoutVente' role="button" class="btn btn-primary waves-effect waves-light mr-1" 
                                style='float:right !important;margin-bottom: 20px !important;margin-left: 15px;'>
                                    Nouveau
                                </a>

                                                   
                             </div>
                            </div> #}
                         
                         <hr>
                            <div class="col-12">

                                <div class="card">
                                    <div class="card-body">

                                        <!-- <h4 class="card-title">Toutes les ventes</h4>
                                        <p class="card-title-desc">La liste de tous vos ventes s'affichent ici.
                                        </p> -->

                                        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th>Produits</th>
                                                    <th>Prix HT</th>
                                                    <th>Quantité</th>
                                                    {# <th>Vente</th> #}
                                                    
                                                    {# <th>Action</th>                                                     #}
                                                </tr>
                                            </thead>


                                            <tbody>
                                                {% for item in vente.getDetailsVentes %}
                                                    
                                                        <tr>
                                                            
                                                            <td>{{item.produit.nom}}</td>
                                                            <td>{{item.produit.prixHT}}</td>
                                                            <td>{{item.quantite}}</td>
                                                            {# <td>{{detvente.vente.id}}</td> #}
                                                            
                                                           {#  <td>{{detvente.totalTTC}}</td>
                                                            <td>{{detvente.paye}}</td> #}
                                                            {# <td>
                                                            <a href="javascript:void(0);" class="mr-3 text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Détail"><i class="mdi mdi-eye font-size-18"></i></a>
                                                            <a href="javascript:void(0);" class="text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="mdi mdi-close font-size-18"></i></a>
                                                             </td> #}                                                    
                                                        </tr>
                                                    
                                                {% endfor %}
                                               
                                               
                                            </tbody>
                                        </table>
                                        <div class="form-group mb-0">
                                            <div>
                                
                                                <a href="{{path('liste_vente')}}" role="button" class="btn btn-primary waves-effect waves-light mr-1" 
                                                style='float:right !important;margin-bottom: 20px !important;margin-left: 15px;'>
                                                Fermer
                                            </a>                      
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->

                        

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                  <!-- JAVASCRIPT -->
       


{% endblock %}