{% extends "base.html.twig" %}
{% block title %}SkBilling | Liste des ventes{% endblock %} 
{% block body %}

        <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">


                        <div class="row">
                        <div class="form-group mb-0">
                           <div>
                                
                                <a href='{{path('ajout_vente')}}' role="button" class="btn btn-primary waves-effect waves-light mr-1" 
                                style='float:right !important;margin-bottom: 20px !important;margin-left: 15px;'>
                                    Nouveau
                                </a>

                                                   
                             </div>
                            </div>
                         
                         <hr>
                            <div class="col-12">

                                <div class="card">
                                    <div class="card-body">

                                        <h4 class="card-title">Toutes les ventes</h4>
                                        <p class="card-title-desc">La liste de toutes vos ventes s'affiche ici.
                                        </p>

                                        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th>Client</th>
                                                    <th>Date Vente</th>
                                                    <th>Prix Total</th>
                                                    <th>Payé?</th>                                                    
                                                    <th>Action</th>                                                    
                                                </tr>
                                            </thead>


                                            <tbody>
                                                {% for vente in ventes %}
                                                <tr>
                                                    
                                                    <td>{{vente.client.name}}</td>
                                                    <td>{{vente.dateVente | date("d/m/Y")}}</td>
                                                    <td>{{vente.totalTTC}}</td>
                                                    <td>{{vente.paye}}</td>
                                                    <td>
                                                    <a href="{{path('details_vente',{'id':vente.id})}}" class="mr-3 text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Détail"><i class="mdi mdi-eye font-size-18"></i></a>
                                                    {# <a href="javascript:void(0);" class="text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="mdi mdi-close font-size-18"></i></a> #}
                                                     {% if vente.facture is null %}                                                                  
                                                                <a href="{{path('ajout_facture',{'id':vente.id,'fac':1})}}" class="text-muted" data-toggle="tooltip" data-placement="top" title="Editer la facture" data-original-title="Facture">

                                                                    <i class="mdi mdi-book font-size-18"></i>
                                                                </a>
                                                        {% endif %}
                                                    {% if vente.facture is  not null %}
                                                    <a href="{{path('vue_Cmdfacture',{'id':vente.id,'cas':1})}}" class="text-muted" data-toggle="tooltip" data-placement="top" title="Voir la facture" data-original-title="Facture">

                                                            <i class="mdi mdi-eye font-size-18"></i>
                                                        </a>

                                                    {% endif %}
                                                     
                                                     </td>                                                    
                                                </tr>
                                                {% endfor %}
                                               
                                               
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->

                        

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                  <!-- JAVASCRIPT -->
       


{% endblock %}