{% extends "base.html.twig" %}
{% block title %}Liste des clients
{% endblock %}
{% block body %}

	<div class="main-content">

		<div class="page-content">
			<div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <address class="font-size-18">
                            <strong>Commande: </strong>{{commande.numeroCmd}}<br>
                            <strong>Date:</strong> {{commande.dateCmd | date("d/m/Y")}}<br>
                            <strong>Client: </strong> {{commande.client.name}}<br>
                             
                        </address>
                    </div>
                    
                </div>
				<div class="row">		
					<hr>
					<div class="col-12">

						<div class="card">
							<div class="card-body">

								<table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
									<thead>
										<tr>
											<th>Produit</th>
											<th>Prix HT</th>
											<th>Quantité</th>		
											
										</tr>
									</thead>
									<tbody>
                                    {% for item in commande.getDetailsCommandes() %}

                                        <tr>
											
											<td>{{item.produit.nom}}</td>
											<td>{{item.produit.prixHT}}</td>
                                            <td>{{item.quantite}}</td>
											
										</tr>
                                        
                                    {% endfor %}
										
									</tbody>
								</table>

							</div>
						</div>
					</div>
					<!-- end col -->
				</div>
				<!-- end row -->
                


			</div>
			<!-- container-fluid -->
		</div>
		<!-- End Page-content -->

		<!-- JAVASCRIPT -->


	{% endblock %}
