{% extends "base.html.twig" %}
{% block title %}SkBilling |Liste des commandes{% endblock %} 
{% block body %}

        <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">


                        <div class="row">
                        <div class="form-group mb-0">
                           <div>
                                
                                <a href='{{path('ajout_commande')}}' role="button" class="btn btn-primary waves-effect waves-light mr-1" 
                                style='float:right !important;margin-bottom: 20px !important;margin-left: 15px;'>
                                    Nouveau
                                </a>

                                                   
                             </div>
                            </div>
                         
                         <hr>
                            <div class="col-12">

                                <div class="card">
                                    <div class="card-body">

                                        <h4 class="card-title">Toutes les commandes</h4>
                                        <p class="card-title-desc">La liste de tous vos bons de commande s'affiche ici.
                                        </p>

                                        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th>Numero Commande</th>
                                                    <th>Date Commande</th>
                                                    <th>Client</th>
                                                    <th>Total HT</th>
                                                    <th>Total TTC</th>
                                                    <th>Action</th>                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                 {% for commande in commandes %}
    
                                                    <tr>
                                                        <td>{{commande.numeroCmd}}</td>
                                                        <td>{{commande.dateCmd | date("d/m/Y")}}</td>
                                                        <td>{{commande.client.name}}</td>
                                                        <td>{{commande.totalHT}}</td>
                                                        <td>{{commande.totalTTC}}</td>
                                                        <td>
                                                            <a href="{{path('edit_commande',{'id':commande.id})}}" class="mr-3 text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Afficher les détails">
                                                                <i class="mdi mdi-pencil font-size-18"></i>
                                                            </a>

                                                            {% if commande.facture is null %}                                                                                                                    
                                                                <a href="{{path('ajout_facture',{'id':commande.id,'fac':0})}}" class="text-muted" data-toggle="tooltip" data-placement="top" title="Editer la facture" data-original-title="Facture">

                                                                    <i class="mdi mdi-book font-size-18"></i>
                                                                </a>
                                                            {% endif %}
                                                            {% if commande.facture is  not null %}
                                                            <a href="{{path('vue_Cmdfacture',{'id':commande.id,'cas':0})}}" class="text-muted" data-toggle="tooltip" data-placement="top" title="Voir la facture" data-original-title="Facture">

                                                                    <i class="mdi mdi-eye font-size-18"></i>
                                                                </a>

                                                            {% endif %}
                                                            
                                                                <a href="" class="text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="mdi mdi-close font-size-18"></i></a>
                                                        </td>        
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->

                        

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                  <!-- JAVASCRIPT -->
       


{% endblock %}