{% extends "base.html.twig" %}
{% block title %}Liste des clients
{% endblock %}
{% block body %}

	<div class="main-content">

		<div class="page-content">
			<div class="container-fluid">


				<div class="row">
					<hr>
					<div class="col-12">

						<div class="card">
							<div class="card-body">

								<h4 class="card-title">Toutes les Interventions</h4>
								<p class="card-title-desc">La liste de tous vos interventions s'affichent ici.
								</p>

								<table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
									<thead>
										<tr>
											<th>Numero de Facture</th>
											<th>Mode de paiement</th>
                                            <th>Montant payé</th>
											<th>Numero de cheque</th>
											<th>Date</th>
											<th>Action</th>
										</tr>
									</thead>

									<tbody>
										{% for paiement in paiements %}

											<tr>
												<td>{{paiement.facture.numero}}</td>
												<td>{{paiement.mode}}</td>
                                                <td>{{paiement.montant}}</td>
												<td>{{paiement.numeroCheque}}</td>
												<td>{{paiement.date | date("d/m/Y")}}</td>
												<td>
													<a href="{{path('modifier_paiement',{'id':paiement.id})}}" class="mr-3 text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editer">
														<i class="mdi mdi-pencil font-size-18"></i>
													</a>
													<a href="javascript:void(0);" class="text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facture">
														<i class="mdi mdi-book font-size-18"></i>
													</a>
													<a href="{{path('supprimer_paiement',{'id':paiement.id})}}" class="text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Supprimer">
														<i class="mdi mdi-delete font-size-18"></i>
													</a>
												</td>
											</tr>

										{% endfor %}
									</tbody>
								</table>

							</div>
						</div>
					</div>
					<!-- end col -->
				</div>
				<!-- end row -->


			</div>
			<!-- container-fluid -->
		</div>
		<!-- End Page-content -->

		<!-- JAVASCRIPT -->


	{% endblock %}
