{% extends 'base.html.twig' %}

{% block title %}SkBilling |Ajout des clients{% endblock %}
{% block body %}


<div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">

                                        <h4 class="card-title">Informations Client</h4>
                                        <p class="card-title-desc">Veuillez renseigner toutes les informations relatives à l'identité du client.
                                         Le client peut être une personne physique ou morale.</p>

                                            {{ form_start(formClient,{'attr':{'class':'custom-validation'}})}}
                                            <div class="form-group">
                                                <label>Nom</label>
                                                {{ form_start(formClient,{'attr':{'class':'custom-validation'}})}}{{ form_widget(formClient.name,{'attr':{'class':'form-control','placeholder':"Nom et Prénoms du client "}})  }}
                                            </div>

                                            <div class="form-group">
                                                <label>Ifu</label>
                                                {{ form_widget(formClient.ifu,{'attr':{'class':'form-control','placeholder':"IFU du client "}})  }}
                                            </div>
                                                                                        

                                            <div class="form-group">
                                                <label>Contact</label>
                                                <div>
                                                    {{ form_widget(formClient.contact,{'attr':{'class':'form-control','placeholder':"Téléphone du client "}})  }}
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>E-Mail</label>
                                                <div>
                                                    {{ form_widget(formClient.email,{'attr':{'class':'form-control','placeholder':"Mail du client "}})  }}
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>Adresse</label>
                                                <div>
                                                    
                                                    {{ form_widget(formClient.adresse,{'attr':{'class':'form-control','placeholder':"Adresse du client "}})  }}
                                                </div>
                                            </div>
                                            <div class="d-none">
                                                {{ form_widget(formClient.createdAt,{'attr':{'class':'form-control','value':"now"}}) }}
                                            </div>


                                <div class="card">
                                   
                                    <div class="form-group">
                                                <label>Statut du client</label>
                                                <div>
                                                    
                                                    
                                                </div>
                                                <p style="display: inline-flex !important;margin-bottom: 0px;" class="card-title-desc">Une société?
                                                    {{ form_widget(formClient.entreprise,{'attr':{'switch':"dark",'id':'switch9','checked':'checked'}})  }}
                                            <label for="client_entreprise" data-on-label="Oui"
                                                   data-off-label="Non" style="margin-left: 10px !important;">
                                            </label>
                                         </p>
                                    </div>
                                </div>

                                            <div class="form-group mb-0">
                                                <div>
                                                    <button type="submit" class="btn btn-success waves-effect waves-light mr-1" id="">
                                                        Sauvegarder
                                                    </button>
                                                    <button type="reset" class="btn btn-secondary waves-effect">
                                                        Annuler
                                                    </button>
                                                </div>
                                            </div>  
                                            
                                        {{ form_end (formClient) }}

                                        {# {% if  editMode %}
                                            
                                        
                                        <div class="">
                                            <div class="alert alert-success" role="alert">
                                                <strong>Felecitation!</strong> opération effectuée avec succèss.
                                            </div>
                                            {# <div class="alert alert-info" role="alert">
                                                <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                                            </div>
                                            <div class="alert alert-warning" role="alert">
                                                <strong>Warning!</strong> Better check yourself, you're not looking too good.
                                            </div>
                                            <div class="alert alert-danger mb-0" role="alert">
                                                <strong>Oh snap!</strong> Change a few things up and try submitting again.
                                            </div> 
                                        </div>
                                       
                                        {% endif %} #}
                                    </div>

                                    </div>
                                </div>
                            </div> <!-- end col -->

                            
                        </div> <!-- end row -->

                        

                    </div> <!-- container-fluid -->
                </div>

            
{% endblock %}

{% block javascripts  %}{% endblock %}
