{% extends "base.html.twig" %}
{% block title %}SkBilling |Visualiser une proforma {% endblock %} 
{% block body %}

        <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">


                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-12">
                                                <div class="invoice-title">
                                                 
                                                    <div style="position: absolute;margin-left: 150px;margin-top: 8px;">      
                                                    <h4 class=" font-size-25" style='color:#4A7DBC;'><strong>SKYRAN  GROUP  SARL</strong></h4>
                                                    <h4 class=" font-size-18"><strong>INGENIERIE ET CONSEILS EN INFORMATIQUE - TELECOMUNICATION - STATISTIQUE - SOCIOLOGIE</strong></h4>
                                                    <h4 class=" font-size-18"><strong>COTONOU N° RCCM/ RB/COT/15 B 12760 - Numéro IFU : 3201500146718</strong></h4>
                                                    <h4 class=" font-size-18"><strong>Tel:(00229) 22151514 - 95400783 / 06 BP 1866 Cotonou</strong></h4>
                                                    </div>
                                                    <h3 class="mt-0">
                                                        <img src="{{ asset ('assets/images/logo_skyran.png') }}" alt="logo skyran" height="150"/>
                                                    </h3>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <address class="font-size-18">
                                                            <strong>Client: </strong>{{proforma.client.name}}<br>
                                                            <strong>Date:</strong> {{"now"|date("d/m/y")}}<br>
                                                            
                                                            <strong>PROFORMA N°: </strong> 002/Avr/2020<br>
                                                            
                                                        </address>
                                                    </div>
                                                    
                                                </div>
                                                
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12">
                                                <div class="panel panel-default">
                                                    <div class="p-2">
                                                        <h3 class="panel-title font-size-20"><strong>Détails</strong></h3>
                                                    </div>
                                                    <div class="">
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead>
                                                                <tr>
                                                                    <td><strong>NRP</strong></td>
                                                                    <td><strong>Description</strong></td>
                                                                    <td class="text-center"><strong>Quantité</strong></td>
                                                                    <td class="text-center"><strong>PU</strong>
                                                                    </td>
                                                                    <td class="text-right"><strong>Total</strong></td>
                                                                </tr>
                                                                </thead>
                                                                <tbody>  
                                                                    {% for item in proforma.getDetailsProformas() %}
                                                                    <tr>
                                                                    <td>{{item.produit.id}}</td>
                                                                    <td class="text-left">{{item.produit.description}}</td>
                                                                    <td class="text-center">{{item.quantite}}</td>
                                                                    <td class="text-center">{{item.produit.prixHT}}</td>
                                                                    <td class="text-right">{{item.produit.prixHT * item.quantite}}</td>
                                                                </tr>
                                                                        
                                                                    {% endfor %}                                                         
                                                                </tbody>
                                                                <tfoot>
                                                                <tr>
                                                                    <td class="thick-line"></td>
                                                                    <td class="thick-line"></td>
                                                                    <td class="thick-line"></td>
                                                                     <td class="thick-line text-center"><strong>TOTAL HT</strong></td>
                                                                     <td class="text-right"><strong>{{proforma.totalHT}}</strong></strong></td>                                                                    
                                                                </tr>
                                                                <tr>
                                                                    <td class="thick-line"></td>
                                                                    <td class="thick-line"></td>
                                                                    <td class="thick-line"></td>
                                                                     <td class="thick-line text-center"><strong>TVA (18%)</strong></td>
                                                                     <td class="text-right"><strong>{{proforma.totalHT * 0.18}}</strong></td>                                                                    
                                                                </tr>
                                                                 <tr>
                                                                    <td class="thick-line"></td>
                                                                    <td class="thick-line"></td>
                                                                    <td class="thick-line"></td>
                                                                     <td class="thick-line text-center"><strong>AIB (5%)</strong></td>
                                                                     <td class="text-right"><strong></strong></td>                                                                    
                                                                </tr>
                                                                <tr>
                                                                    <td class="thick-line"></td>
                                                                    <td class="thick-line"></td>
                                                                    <td class="thick-line"></td>
                                                                     <td class="thick-line text-center"><strong>TOTAL TTC</strong></td>
                                                                     <td class="text-right"><strong>{{proforma.totalTTC}}</strong></td>                                                                    
                                                                </tr>
                                                                </tfoot>
                                                            </table>
                                                            </br>
                                                            
                                                             {# <div class="row"> #}
                                                             <div class="col-12 text-center">
                                                               {# <p  class="font-size-16"><strong>Arrêtée la présente facture/proformat à la somme de un million quatre-vingt-un mille quatre cent soixante dix francs FCFA.</strong></p>#}
                                                                {# <address class="font-size-14">
                                                                    <h5>Conditions commerciales</h5>
                                                                    <strong>Délai d'execution: </strong>1 semaine<br>
                                                                    <strong>Validité de l'offre:</strong> 3 mois<br>
                                                                    <strong>Garantie: </strong> 6 mois<br>
                                                                </address> #}
                                                            </div><br><br>
                                                           {# <div class="col-6 text-left">
                                                                <address class="font-size-14">
                                                                    <h5>Conditions commerciales</h5>
                                                                    <strong>Délai d'execution: </strong>1 semaine<br>
                                                                    <strong>Validité de l'offre:</strong> 3 mois<br>
                                                                    <strong>Garantie: </strong> 6 mois<br>
                                                                </address>
                                                            </div>#}
                                                            <div class="col-12 text-right">
                                                                <address class="font-size-18">
                                                                    <strong>La Direction Commerciale</strong><br><br><br>
                                                                    <strong>Nom du signataire</strong>
                                                                </address>
                                                            </div><br>
                                                             
                                                        {# </div> #}

                                                        

                                                        <div class="d-print-none">
                                                            <div class="float-right">
                                                                <a href="javascript:window.print()" class="btn btn-success waves-effect waves-light"><i class="fa fa-print"></i></a>
                                                                <a href="#" class="btn btn-primary waves-effect waves-light">Valider</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> <br>

                                            </div>
                                        </div> <!-- end row -->
                                            

                                        

                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                         </hr> 
                        <div class="col-12 text-center">
                            <address class="font-size-14" >
                                <strong>**********LA SATISFACTION DU CLIENT EST NOTRE DEVICE**********</strong>
                                <br>                                                                  
                           </address>
                         </div>
                        

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                  <!-- JAVASCRIPT -->
       


{% endblock %}

