<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    {# {% block title %}<title>Dashboard | SkBilling - Logiciel de facturation normalisée</title> {% endblock %}  #}
    <title>{% block title %}Dashboard | SkBilling - Logiciel de facturation normalisée{% endblock %}</title>
    {# {% block title %}Dashboard | SkBilling - Logiciel de facturation normalisée{% endblock %}  #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Logiciel de facturation normalisée" name="description" />
    <meta content="SkBilling" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{{ asset ('assets/images/favicon.ico') }}">
    <!-- C3 Chart css -->
    <link href="{{ asset ('assets/libs/c3/c3.min.css') }}" rel="stylesheet" type="text/css" />

    <!-- Bootstrap Css -->
    <link href="{{ asset ('assets/css/bootstrap.min.css') }}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{{ asset ('assets/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{{ asset ('assets/css/app.min.css') }}" id="app-style" rel="stylesheet" type="text/css" />



    {# CSS de datepicker et colorpicker  #}
    <link href="{{ asset ('assets/libs/select2/css/select2.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset ('assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css') }}" rel="stylesheet">
    <link href="{{ asset ('assets/libs/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css') }}" rel="stylesheet">
    <link href="{{ asset ('assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css') }}" rel="stylesheet" />
    {# Fin CSS de datepicker et colorpicker  #}

    <!-- Responsive datatable examples -->
    <link href="{{ asset ('assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css') }}"
        rel="stylesheet" type="text/css" />
    {#  CSS de dat table des liste  #}
    <link href="{{ asset ('assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet"
        type="text/css" />
    <link href="{{ asset ('assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css') }}" rel="stylesheet"
        type="text/css" />

    <!-- Sweet Alert-->
    <link href="{{ asset ('assets/libs/sweetalert2/sweetalert2.min.css') }}" rel="stylesheet" type="text/css" />
    {# Fin CSS de dat table des liste  #}


    {% block stylesheets %}{% endblock %}
</head>

<body data-sidebar="dark">


    <header id="page-topbar">
        <div class="navbar-header">
            <div class="d-flex">
                <!-- LOGO -->
                <div class="navbar-brand-box">
                    <a href="{{path('accueil')}}" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="{{ asset ('assets/images/logo.png') }}" alt="" height="22">
                        </span>
                        <span class="logo-lg">
                            <img src="{{ asset ('assets/images/logo-dark.png') }}" alt="" height="17">
                        </span>
                    </a>

                    <a href="{{path('accueil')}}" class="logo logo-light">
                        <span class="logo-sm">
                            {# <img src="{{ asset ('assets/images/logo-light.png') }}" alt="" height="22"> #}
                            <img src="{{ asset ('assets/images/logo-dark.png') }}" alt="" height="28">

                        </span>
                        <span class="logo-lg">
                            <img src="{{ asset ('assets/images/logo_skbilling-dark2.png') }}" alt="" height="36">
                        </span>
                    </a>
                </div>

                <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect"
                    id="vertical-menu-btn">
                    <i class="mdi mdi-menu"></i>
                </button>

                {# <div class="d-none d-sm-block ml-2">
                            <h4 class="page-title">Dashboard</h4>
                        </div> #}
            </div>

            <!-- Search input -->
            <div class="search-wrap" id="search-wrap">
                <div class="search-bar">
                    <input class="search-input form-control" placeholder="Search" />
                    <a href="#" class="close-search toggle-search" data-target="#search-wrap">
                        <i class="mdi mdi-close-circle"></i>
                    </a>
                </div>
            </div>

            <div class="d-flex">

                <div class="dropdown d-none d-lg-inline-block mr-2">
                    <button type="button" class="btn header-item toggle-search noti-icon waves-effect"
                        data-target="#search-wrap">
                        <i class="mdi mdi-magnify"></i>
                    </button>
                </div>

                {% if app.user %}
                {# <a class="text-success" href="#"><i class="bx bx-user font-size-16 align-middle mr-1"></i> Jacques</a> #}
                <div class="dropdown d-inline-block">
                    <a class="btn header-item waves-effect text-success" href="#"
                        style="margin-top: 12px !important;text-transform: capitalize !important;"> Salut,
                        {{app.user.name}}</a>
                </div>
                <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="rounded-circle header-profile-user"
                            src="{{ asset ('assets/images/users/avatar-1.jpg') }}" alt="Header Avatar">
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->

                        <a class="dropdown-item" href="{{ path('profil_user')}}"><i
                                class="bx bx-user font-size-16 align-middle mr-1"></i>Mon Profil</a>
                        {# <a class="dropdown-item" href="#"><i class="bx bx-wallet font-size-16 align-middle mr-1"></i> My Wallet</a>
                                <a class="dropdown-item d-block" href="#"><span class="badge badge-success float-right">11</span><i class="bx bx-wrench font-size-16 align-middle mr-1"></i> Settings</a>
                                <a class="dropdown-item" href="#"><i class="bx bx-lock-open font-size-16 align-middle mr-1"></i> Lock screen</a> #}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="{{ path('logout_users')}}"><i
                                class="bx bx-power-off font-size-16 align-middle mr-1 text-danger"></i> Déconnexion</a>
                    </div>

                    {# <div class="dropdown-divider"></div>
                                        <a class=" text-success" href=" {{ path('login_users')}} "><i class="bx bx-power-off font-size-16 align-middle mr-1 text-success"></i> Se connecter</a>                                 
                                    </div> #}


                </div>
                {% else %}
                <div class="dropdown d-inline-block">

                    <button type="button" class="btn header-item noti-icon right-bar-toggle waves-effect"><a
                            class=" text-success" href=" {{ path('login_users')}} "> Se connecter</a></button>
                </div>
                {% endif %}

                {# <div class="dropdown d-inline-block">
                            <button type="button" class="btn header-item noti-icon right-bar-toggle waves-effect">
                                <i class="mdi mdi-spin mdi-settings"></i>
                            </button>
                        </div>  #}

            </div>
        </div>
    </header>
    <!-- ========== Left Sidebar Start ========== -->
    <div class="vertical-menu">

        <div data-simplebar class="h-100">

            <!--- Sidemenu -->
            <div id="sidebar-menu">
                <!-- Left Menu Start -->
                <ul class="metismenu list-unstyled" id="side-menu">
                    {# <li class="menu-title">Main</li>


                            <li>
                                <a href="javascript: void(0);" class="waves-effect">
                                    <span class="badge badge-pill badge-primary float-right">20+</span>
                                    <i class="mdi mdi-view-dashboard"></i>
                                    <span> Dashboard </span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="index.html">Dashboard One</a></li>
                                    <li><a href="dashboard-2.html">Dashboard Two</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="widgets.html" class="waves-effect">
                                    <i class="mdi mdi-cube-outline"></i>
                                    <span> Widgets </span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="mdi mdi-email-outline"></i>
                                    <span> Email </span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="email-inbox.html">Inbox</a></li>
                                    <li><a href="email-read.html">Email Read</a></li>
                                    <li><a href="email-compose.html">Email Compose</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="calendar.html" class="waves-effect">
                                    <i class="mdi mdi-calendar-check"></i>
                                    <span>Calendar</span>
                                </a>
                            </li> #}

                    {% if app.user %}

                    <li class="menu-title">INFOS</li>

                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="ion ion-md-person"></i>
                            <span>Clients</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="{{path('ajout_client')}}">Ajouter</a></li>
                            <li><a href="{{path('liste_client')}}">Tous les clients</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="mdi mdi-buffer"></i>
                            <span>Produits</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">

                            <li><a href=" {{path("ajout_produit")}} ">Ajouter</a></li>
                            <li><a href="{{path('liste_produit')}}">Tous les Produits</a></li>

                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="mdi mdi-buffer"></i>
                            <span>Commandes</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">

                            <li><a href="{{path('ajout_commande')}}">Ajouter</a></li>
                            <li><a href="{{path('liste_commande')}}">Toutes les Commandes</a></li>

                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="mdi mdi-buffer"></i>
                            <span>Interventions</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="{{path('ajout_intervention')}}">Ajouter</a></li>
                            <li><a href="{{path('liste_intervention')}}">Toutes les Interventions</a></li>

                        </ul>
                    </li>

                    <li class="menu-title">FACTURATION</li>
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="mdi mdi-buffer"></i>
                            <span>Proformas</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="{{path('ajout_prof')}}">Ajouter</a></li>
                            <li><a href="{{path('liste_prof')}}">Toutes les Proformas</a></li>

                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="mdi mdi-buffer"></i>
                            <span>Vente</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="{{path('ajout_vente')}}">Ajouter</a></li>
                            <li><a href="{{path('liste_vente')}}">Toutes les Ventes</a></li>

                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="mdi mdi-buffer"></i>
                            <span>Factures</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            {# <li><a href="{{path('ajout_facture')}}">Ajouter</a></li> #}
                            <li><a href="{{path('liste_facture')}}">Toutes les Factures</a></li>

                        </ul>
                    </li>

                    <li>

                    <li class="menu-title">COMPTE</li>
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="mdi mdi-buffer"></i>
                            <span>Profil</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="{{ path('profil_user')}}">Editer</a></li>
                            {# <li><a href="ui-colors.html">Tous les Profils</a></li> #}

                        </ul>
                    </li>

                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="menu-title">GESTION DES UTILISATEURS</li>
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="ion ion-md-person"></i>
                            <span>Gérer</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="{{path('utilisateurs')}}">Tous les utilisateurs</a></li>

                        </ul>
                    </li>
                    {% endif %}




                    <li>

                        {# <li>
                                <a href="javascript: void(0);" class="waves-effect">
                                    <span class="badge badge-pill badge-success float-right">9</span>
                                    <i class="mdi mdi-clipboard-outline"></i>
                                    <span>Forms</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="form-elements.html">Form Elements</a></li>
                                    <li><a href="form-validation.html">Form Validation</a></li>
                                    <li><a href="form-advanced.html">Form Advanced</a></li>
                                    <li><a href="form-wizard.html">Form Wizard</a></li>
                                    <li><a href="form-editors.html">Form Editors</a></li>
                                    <li><a href="form-uploads.html">Form File Upload</a></li>
                                    <li><a href="form-mask.html">Form Mask</a></li>
                                    <li><a href="form-summernote.html">Summernote</a></li>
                                    <li><a href="form-xeditable.html">Form Xeditable</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="mdi mdi-chart-line"></i>
                                    <span>Charts</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="charts-morris.html">Morris Chart</a></li>
                                    <li><a href="charts-chartist.html">Chartist Chart</a></li>
                                    <li><a href="charts-chartjs.html">Chartjs Chart</a></li>
                                    <li><a href="charts-flot.html">Flot Chart</a></li>
                                    <li><a href="charts-c3.html">C3 Chart</a></li>
                                    <li><a href="charts-sparkline.html">Sparkline Chart</a></li>
                                    <li><a href="charts-other.html">Jquery Knob Chart</a></li>
                                    <li><a href="charts-peity.html">Peity Chart</a></li>
                                </ul>
                            </li>

                            

                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="mdi mdi-format-list-bulleted-type"></i>
                                    <span>Tables</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="tables-basic.html">Basic Tables</a></li>
                                    <li><a href="tables-datatable.html">Data Table</a></li>
                                    <li><a href="tables-responsive.html">Responsive Table</a></li>
                                    <li><a href="tables-editable.html">Editable Table</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="mdi mdi-album"></i>
                                    <span>Icons</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="icons-material.html">Material Design</a></li>
                                    <li><a href="icons-ion.html">Ion Icons</a></li>
                                    <li><a href="icons-fontawesome.html">Font Awesome</a></li>
                                    <li><a href="icons-themify.html">Themify Icons</a></li>
                                    <li><a href="icons-dripicons.html">Dripicons</a></li>
                                    <li><a href="icons-typicons.html">Typicons Icons</a></li>
                                    <li><a href="icons-weather.html">Weather Icons</a></li>
                                    <li><a href="icons-mobirise.html">Mobirise Icons</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);" class="waves-effect">
                                    <span class="badge badge-pill badge-danger float-right">2</span>
                                    <i class="mdi mdi-google-maps"></i>
                                    <span>Maps</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="maps-google.html">Google Map</a></li>
                                    <li><a href="maps-vector.html">Vector Map</a></li>
                                </ul>
                            </li> #}

                        {# <li class="menu-title">Extras</li>

                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="mdi mdi-movie-filter-outline"></i>
                                    <span> Layouts </span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="layouts-horizontal.html">Horizontal</a></li>
                                    <li><a href="layouts-light-sidebar.html">Light Sidebar</a></li>
                                    <li><a href="layouts-compact-sidebar.html">Compact Sidebar</a></li>
                                    <li><a href="layouts-icon-sidebar.html">Icon Sidebar</a></li>
                                    <li><a href="layouts-boxed.html">Boxed Layout</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="mdi mdi-account-box"></i>
                                    <span>Authentication</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="pages-login.html">Login</a></li>
                                    <li><a href="pages-register.html">Register</a></li>
                                    <li><a href="pages-recoverpw.html">Recover Password</a></li>
                                    <li><a href="pages-lock-screen.html">Lock Screen</a></li>
                                    <li><a href="pages-login-2.html">Login 2</a></li>
                                    <li><a href="pages-register-2.html">Register 2</a></li>
                                    <li><a href="pages-recoverpw-2.html">Recover Password 2</a></li>
                                    <li><a href="pages-lock-screen-2.html">Lock Screen 2</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="mdi mdi-google-pages"></i>
                                    <span>Extra Pages</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="pages-timeline.html">Timeline</a></li>
                                    <li><a href="pages-invoice.html">Invoice</a></li>
                                    <li><a href="pages-directory.html">Directory</a></li>
                                    <li><a href="pages-blank.html">Blank Page</a></li>
                                    <li><a href="pages-404.html">Error 404</a></li>
                                    <li><a href="pages-500.html">Error 500</a></li>
                                    <li><a href="pages-pricing.html">Pricing</a></li>
                                    <li><a href="pages-gallery.html">Gallery</a></li>
                                    <li><a href="pages-maintenance.html">Maintenance</a></li>
                                    <li><a href="pages-coming-soon.html">Coming Soon</a></li>
                                </ul>
                            </li> #}

                        {# <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="mdi mdi-cart-outline"></i>
                                    <span>Ecommerce </span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="ecommerce-product-list.html">Product List</a></li>
                                    <li><a href="ecommerce-product-grid.html">Product Grid</a></li>
                                    <li><a href="ecommerce-order-history.html">Order History</a></li>
                                    <li><a href="ecommerce-customers.html">Customers</a></li>
                                    <li><a href="ecommerce-product-edit.html">Product Edit</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="mdi mdi-flask-outline"></i>
                                    <span> Email Templates </span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="email-templates-basic.html">Basic Action Email</a></li>
                                    <li><a href="email-templates-alert.html">Alert Email</a></li>
                                    <li><a href="email-templates-billing.html">Billing Email</a></li>
                                </ul>
                            </li> #}

                    <li class="menu-title">CONNEXION</li>

                    {# <li>
                                <a href="faq.html" class="waves-effect">
                                    <i class="mdi mdi-help-circle"></i>
                                    <span> FAQ </span>
                                </a>
                            </li>

                            <li>
                                <a href="contact.html" class="waves-effect">
                                    <span class="badge badge-pill badge-warning float-right">3</span>
                                    <i class="mdi mdi-help-circle"></i>
                                    <span>   Contact  </span>
                                </a>
                            </li> #}

                    {# <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="dripicons-network-1"></i>
                                    <span>Multi Level</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="true">
                                    <li><a href="javascript: void(0);">Level 1.1</a></li>
                                    <li><a href="javascript: void(0);" class="has-arrow">Level 1.2</a>
                                        <ul class="sub-menu" aria-expanded="true">
                                            <li><a href="javascript: void(0);">Level 2.1</a></li>
                                            <li><a href="javascript: void(0);">Level 2.2</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li> #}

                    <li>
                        <a href="{{ path('logout_users')}}" class="waves-effect">
                            <i class="mdi mdi-logout-variant "></i>
                            <span> Déconnexion </span>
                        </a>
                    </li>
                    {% else %}
                    <li class="menu-title">Connexion</li>
                    <li>

                        <a href="{{ path('login_users')}}" class="waves-effect">
                            <i class="mdi mdi-login "></i>
                            <span> Se connecter </span>
                        </a>
                    </li>
                    {% endif %}

                </ul>
            </div>
            <!-- Sidebar -->
        </div>
    </div>
    <!-- Left Sidebar End -->

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    2020 © SkBilling.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-right d-none d-sm-block">
                        Crafted with <i class="mdi mdi-heart text-danger"></i>by <a
                            href="https://store.skyran-group.com">SKYRAN-GROUP</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    {% block body %}{% endblock %}

    <script src="{{ asset ('assets/libs/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset ('assets/libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset ('assets/libs/metismenu/metisMenu.min.js') }}"></script>
    <script src="{{ asset ('assets/libs/simplebar/simplebar.min.js') }}"></script>
    <script src="{{ asset ('assets/libs/node-waves/waves.min.js') }}"></script>
    <!-- Peity chart-->
    <script src="{{ asset ('assets/libs/peity/jquery.peity.min.js') }}"></script>

    <!--C3 Chart-->
    <script src="{{ asset ('assets/libs/d3/d3.min.js') }}"></script>
    <script src="{{ asset ('assets/libs/c3/c3.min.js') }}"></script>

    <script src="{{ asset ('assets/libs/jquery-knob/jquery.knob.min.js') }}"></script>

    <script src="{{ asset ('assets/js/pages/dashboard.init.js') }}"></script>

    <script src="{{ asset ('assets/js/app.js') }}"></script>
    {# JS de datepicker et colorpicker  #}
    <script src="{{ asset ('assets/libs/select2/js/select2.min.js') }}"></script>
    <script src="{{ asset ('assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset ('assets/js/pages/form-advanced.init.js') }}"></script>
    <script src="{{ asset ('assets/libs/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js') }}"></script>
    <script src="{{ asset ('assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>
    <script src="{{ asset ('assets/libs/admin-resources/bootstrap-filestyle/bootstrap-filestyle.min.js') }}"></script>
    <script src="{{ asset ('assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js') }}"></script>
    <script src="{{ asset ('assets/js/pages/form-advanced.init.js') }}"></script>
    {# fin JS de datepicker et colorpicker  #}

    <!-- Required datatable js -->
    <script src="{{ asset ('assets/libs/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset ('assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset ('assets/js/pages/datatables.init.js') }}"></script>
    <!-- Responsive examples -->
    <script src="{{ asset ('assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset ('assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js') }}"></script>
    <!-- Buttons examples -->
    <script src="{{ asset ('assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset ('assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ asset ('assets/libs/jszip/jszip.min.js') }}"></script>
    <script src="{{ asset ('assets/libs/pdfmake/build/pdfmake.min.js') }}"></script>
    <script src="{{ asset ('assets/libs/pdfmake/build/vfs_fonts.js') }}"></script>
    <script src="{{ asset ('assets/libs/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset ('assets/libs/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset ('assets/libs/datatables.net-buttons/js/buttons.colVis.min.js') }}"></script>
    <!-- End Required datatable js -->

    <!-- form wizard -->
    <script src="{{ asset ('assets/libs/jquery-steps/build/jquery.steps.min.js') }}"></script>

    <!-- form wizard init -->
    <script src="{{ asset ('assets/js/pages/form-wizard.init.js') }}"></script>

    <!-- Sweet Alerts js -->
    <script src="{{ asset ('assets/libs/sweetalert2/sweetalert2.min.js') }}"></script>

    <!-- Sweet alert init js-->
    <script src="{{ asset ('assets/js/pages/sweet-alerts.init.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>


    {% block javascripts %}{% endblock %}

</body>

<!-- Mirrored from themesbrand.com/admiria/layouts/vertical/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 10 Mar 2020 11:34:16 GMT -->

</html>