<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        {# {% block title %}<title>Dashboard | SkBilling - Logiciel de facturation normalisée</title> {% endblock %}  #}
        <title>Dashboard | SkBilling - Logiciel de facturation normalisée</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Logiciel de facturation normalisée" name="description" />
        <meta content="SkBilling" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{{ asset ('assets/images/favicon.ico') }}">

        <!-- Bootstrap Css -->
        <link href="{{ asset ('assets/css/bootstrap.min.css') }}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{{ asset ('assets/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{{ asset ('assets/css/app.min.css') }}" id="app-style" rel="stylesheet" type="text/css" />


        {% block stylesheets %}{% endblock %}
    </head>

    <body>

        
        
                    
        {% block body %}{% endblock %}
         

        <script src="{{ asset ('assets/libs/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset ('assets/libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset ('assets/libs/metismenu/metisMenu.min.js') }}"></script>
        <script src="{{ asset ('assets/libs/simplebar/simplebar.min.js') }}"></script>
        <script src="{{ asset ('assets/libs/node-waves/waves.min.js') }}"></script>

        <script src="{{ asset ('assets/js/app.js') }}"></script>
    

        {% block javascripts %}{% endblock %}


    </body>
    
</html>