{% extends 'base.html.twig' %}

{% block title %}Dashboard | SkBilling - Logiciel de facturation normalisée |Acceuil{% endblock %}
{% block stylesheets %}
<!--Mobirise Icons-->
<link rel="stylesheet" type="text/css" href="{{ asset ('assets/frontend/css/mobirise.css') }}" />

<!-- Magnific-popup -->
<link rel="stylesheet" href="{{ asset ('assets/frontend/css/magnific-popup.css') }}">

<!--Material Design Icons-->
<link rel="stylesheet" type="text/css" href="{{ asset ('assets/frontend/css/materialdesignicons.min.css') }}" />

<!-- Bootstrap core CSS -->
{# <link href="{{ asset ('assets/frontend/css/bootstrap.min.css') }}" rel="stylesheet"> #}

<!-- Custom styles for this template -->
<link href="{{ asset ('assets/frontend/css/style.css') }}" rel="stylesheet">

{% endblock %}

{% block body %}

{# <!-- Mirrored from themesbrand.com/admiria/layouts/frontend/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 10 Mar 2020 11:33:34 GMT -->
<head>
       

        <!-- App Icons -->
        <link rel="shortcut icon" href="images/favicon.ico">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Quattrocento+Sans:400,700" rel="stylesheet" />

        <!--Mobirise Icons-->
        <link rel="stylesheet" type="text/css" href="css/mobirise.css" />

        <!-- Magnific-popup -->
        <link rel="stylesheet" href="css/magnific-popup.css">

        <!--Material Design Icons-->
        <link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css" />

        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="css/style.css" rel="stylesheet">

    </head> #}

{# <body data-spy="scroll" data-target="#navbar-example" data-offset="20"> #}


<div class="main-content">

    <div class="page-content" style="padding: 0 !important;">
        <div class="container-fluid" style="padding: 0 !important;margin: 0 !important;">
            <!--START HOME-->
            <section class="section home" id="home">
                <div class="bg-overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2 text-white text-center">
                            <h1 class="home-title">SKBilling, votre logiciel de facturation pour les TPE et les PME</h1>
                            <h3 class="">Simple, rapide et normalisée.</h3>
                            <p class="mt-4 home-subtitle">Simplifiez votre facturation et gagnez un temps précieux pour
                                tous vos clients.</p>
                            {% if app.user %}

                            {% else %}
                            <a href="{{path('registration_users')}}" class="btn btn-custom mt-4">INSCRIVEZ-VOUS</a>
                            {% endif %}


                            <img src="{{ asset ('assets/frontend/images/showcase.png') }}" alt="" class="img-fluid"
                                style="margin-top: 30px !important;">
                        </div>
                    </div>
                </div>
            </section>
            <!--END HOME-->

            <section class="section" id="features">
                <div class="container">

                    <div class="row">
                        <div class="col-12">
                            <div class="text-center">
                                <h3>Centralisez toutes vos données de facturation</h3>
                                {# <p class="text-muted slogan">Vestibulum ante ipsum primis in faucibus 
                            orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.</p> #}
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-md-4 services-box">
                            <div class="text-center p-3">
                                <i class="mbri-users text-custom"></i>
                                <h5 class="pt-4">Clients</h5>
                                <p class="text-gray pt-2"> Enregistrez tous vos clients dans votre base de données.</p>
                            </div>
                        </div>
                        <div class="col-md-4 services-box">
                            <div class="text-center p-3">
                                <i class="mbri-shopping-basket text-custom"></i>
                                <h5 class="pt-4">Produits</h5>
                                <p class="text-gray pt-2"> Enregistrez vos produits pour suivre votre stock à tout
                                    moment.</p>
                            </div>
                        </div>
                        <div class="col-md-4 services-box">
                            <div class="text-center p-3">
                                <i class="mbri-cart-full text-custom "></i>
                                <h5 class="pt-4">Commandes</h5>
                                <p class="text-gray pt-2">Faites eregistrer vos commandes et obtenez toute l'historique
                                    de vos commandes.</p>
                            </div>
                        </div>

                        <div class="col-md-4 services-box">
                            <div class="text-center p-3">
                                <i class="mbri-website-theme text-custom"></i>
                                <h5 class="pt-4">Interventions</h5>
                                <p class="text-gray pt-2"> Enregistrez vos interventions sur site et facturez les à vos
                                    clients en toute simplicité.</p>
                            </div>
                        </div>
                        <div class="col-md-4 services-box">
                            <div class="text-center p-3">
                                <i class="mbri-file text-custom"></i>
                                <h5 class="pt-4">Bon de commandes</h5>
                                <p class="text-gray pt-2"> Faites enregistrer vos bons de commandes et générez
                                    l'historique de vos bons de commandes.</p>
                            </div>
                        </div>
                        <div class="col-md-4 services-box">
                            <div class="text-center p-3">
                                <i class="mbri-sale text-custom "></i>
                                <h5 class="pt-4">Ventes</h5>
                                <p class="text-gray pt-2"> Enregistrez vos ventes et éditez une facture normalisée à vos
                                    clients.</p>
                            </div>
                        </div>

                        <div class="col-md-4 services-box">
                            <div class="text-center p-3">
                                <i class="mbri-edit text-custom"></i>
                                <h5 class="pt-4">Factures</h5>
                                <p class="text-gray pt-2"> Editez des factures normalisées à vos clients de manière plus
                                    simple.</p>
                            </div>
                        </div>
                        <div class="col-md-4 services-box">
                            <div class="text-center p-3">
                                <i class="mbri-edit text-custom"></i>
                                <h5 class="pt-4">Proformas</h5>
                                <p class="text-gray pt-2"> Editez des proformas à vos clients et consultez votre
                                    historique plus facilement.</p>
                            </div>
                        </div>
                        <div class="col-md-4 services-box">
                            <div class="text-center p-3">
                                <i class="mbri-opened-folder text-custom "></i>
                                <h5 class="pt-4">Support</h5>
                                <p class="text-gray pt-2">Notre support technique pour vous permettre de prendre la main
                                    très facilement.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <section class="section bg-grey" id="shots">
                <div class="container">

                    <div class="row">
                        <div class="col-12">
                            <div class="text-center">
                                <h3>Quelques captures</h3>
                                <p class="text-muted slogan">Parcourez quelques captures d'écran et ayez un aperçu des
                                    fonctionnalités proposées.</p>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-sm-4">
                            <a href="images/screenshots/1.png') }}" class="thumb preview-thumb image-popup"
                                title="Screenshot-1">
                                <img src="{{ asset ('assets/frontend/images/screenshots/1.png') }}" class="thumb-img"
                                    alt="work-thumbnail">
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="{{ asset ('assets/frontend/images/screenshots/2.png') }}"
                                class="thumb preview-thumb image-popup" title="Screenshot-2">
                                <img src="{{ asset ('assets/frontend/images/screenshots/2.png') }}" class="thumb-img"
                                    alt="work-thumbnail">
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="{{ asset ('assets/frontend/images/screenshots/3.png') }}"
                                class="thumb preview-thumb image-popup" title="Screenshot-3">
                                <img src="{{ asset ('assets/frontend/images/screenshots/3.png') }}" class="thumb-img"
                                    alt="work-thumbnail">
                            </a>
                        </div>
                    </div>
                    <!-- end row -->

                    <div class="row">
                        <div class="col-sm-4">
                            <a href="{{ asset ('assets/frontend/images/screenshots/4.png') }}"
                                class="thumb preview-thumb image-popup" title="Screenshot-4">
                                <img src="{{ asset ('assets/frontend/images/screenshots/4.png') }}" class="thumb-img"
                                    alt="work-thumbnail">
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="{{ asset ('assets/frontend/images/screenshots/5.png') }}"
                                class="thumb preview-thumb image-popup" title="Screenshot-5">
                                <img src="{{ asset ('assets/frontend/images/screenshots/5.png') }}" class="thumb-img"
                                    alt="work-thumbnail">
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="{{ asset ('assets/frontend/images/screenshots/6.png') }}"
                                class="thumb preview-thumb image-popup" title="Screenshot-6">
                                <img src="{{ asset ('assets/frontend/images/screenshots/6.png') }}" class="thumb-img"
                                    alt="work-thumbnail">
                            </a>
                        </div>
                    </div>
                    <!-- end row -->

                    {# <div class="row">
                    <div class="col-sm-4">
                        <a href="{{ asset ('assets/frontend/images/screenshots/7.png') }}" class="thumb preview-thumb image-popup" title="Screenshot-7">
                            <img src="{{ asset ('assets/frontend/images/screenshots/7.png') }}" class="thumb-img" alt="work-thumbnail">
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{{ asset ('assets/frontend/images/screenshots/8.png') }}" class="thumb preview-thumb image-popup" title="Screenshot-8">
                            <img src="{{ asset ('assets/frontend/images/screenshots/8.png') }}" class="thumb-img" alt="work-thumbnail">
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{{ asset ('assets/frontend/images/screenshots/9.png') }}" class="thumb preview-thumb image-popup" title="Screenshot-9">
                            <img src="{{ asset ('assets/frontend/images/screenshots/9.png') }}" class="thumb-img" alt="work-thumbnail">
                        </a>
                    </div>
                </div> #}
                    <!-- end row -->

                </div>
            </section>

            {# <section class="section" id="pricing">
            <div class="container">

                <div class="row">
                    <div class="col-12">
                        <div class="text-center">
                            <h3>Simple Pricing</h3>
                            <p class="text-muted slogan">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.</p>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-sm-4">
                        <div class="card plan-card text-center">
                            <div class="card-body">
                                <div class="pt-3 pb-3">
                                    <h1><i class="ion-trophy plan-icon bg-dark"></i></h1>
                                    <h6 class="text-uppercase text-dark">Single License</h6>
                                </div>
                                <div>
                                    <h1 class="plan-price">$25<sup class="text-muted">Per License</sup></h1>
                                    <div class="plan-div-border"></div>
                                </div>
                                <div class="plan-features pb-3 mt-3 text-muted padding-t-b-30">
                                    <p>Free Live Support</p>
                                    <p>Unlimited User</p>
                                    <p>No Time Tracking</p>
                                    <p>Free Setup</p>
                                    <a href="#" class="btn btn-custom">Sign Up Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card plan-card text-center">
                            <div class="card-body">
                                <div class="pt-3 pb-3">
                                    <h1><i class="ion-trophy plan-icon bg-dark"></i></h1>
                                    <h6 class="text-uppercase text-dark">Multiple License</h6>
                                </div>
                                <div>
                                    <h1 class="plan-price">$99<sup class="text-muted">Per License</sup></h1>
                                    <div class="plan-div-border"></div>
                                </div>
                                <div class="plan-features pb-3 mt-3 text-muted padding-t-b-30">
                                    <p>Free Live Support</p>
                                    <p>Unlimited User</p>
                                    <p>No Time Tracking</p>
                                    <p>Free Setup</p>
                                    <a href="#" class="btn btn-custom">Sign Up Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card plan-card text-center">
                            <div class="card-body">
                                <div class="pt-3 pb-3">
                                    <h1><i class="ion-trophy plan-icon bg-dark"></i></h1>
                                    <h6 class="text-uppercase text-dark">Extended License</h6>
                                </div>
                                <div>
                                    <h1 class="plan-price">$799<sup class="text-muted">Per License</sup></h1>
                                    <div class="plan-div-border"></div>
                                </div>
                                <div class="plan-features pb-3 mt-3 text-muted padding-t-b-30">
                                    <p>Free Live Support</p>
                                    <p>Unlimited User</p>
                                    <p>No Time Tracking</p>
                                    <p>Free Setup</p>
                                    <a href="#" class="btn btn-custom">Sign Up Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

            </div>
        </section> #}

            <section class="section bg-custom">
                <div class="container">

                    <div class="row">
                        <div class="col-12">
                            <div class="text-center">
                                <h3 class="text-white">En quelques clics créez des proformas, des factures, des bons de
                                    commande et gérez vos clients.</h3>
                                <br />
                                {% if app.user %}
                                <a href="{{path('ajout_commande')}}" class="btn btn-custom active">Passsez à
                                    l'action</a>
                                {% else %}
                                <a href="{{path('login_users')}}" class="btn btn-custom active">Passsez à l'action</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <!-- <section class="section" id="team">
            <div class="container">

                <div class="row">
                    <div class="col-12">
                        <div class="text-center">
                            <h3>Notre Equipe</h3>
                            <p class="text-muted slogan">Une équipe jeune dynamique, dévouée et disponible pour vous assister à tout moment.</p>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-3 col-sm-6">
                        <div class="team-box text-center">
                            <div class="team-wrapper">
                                <div class="team-member">
                                    <img alt="" src="{{ asset ('assets/frontend/images/team/img-3.jpg') }}" alt="" class="img-fluid rounded">
                                </div>
                            </div>
                            <h4 class="team-name text-uppercase">Godson MIDOHOUGBE</h4>
                            <p class="text-uppercase team-designation">Développeur, Lead</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="team-box text-center">
                            <div class="team-wrapper">
                                <div class="team-member">
                                    <img alt="" src="{{ asset ('assets/frontend/images/team/img-1.jpg') }}" alt="" class="img-fluid rounded">
                                </div>
                            </div>
                            <h4 class="team-name text-uppercase">Jacques AGBETI</h4>
                            <p class="text-uppercase team-designation">Designer, Développeur</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="team-box text-center">
                            <div class="team-wrapper">
                                <div class="team-member">
                                    <img alt="" src="{{ asset ('assets/frontend/images/team/img-2.jpg') }}" alt="" class="img-fluid rounded">
                                </div>
                            </div>
                            <h4 class="team-name text-uppercase">Hannick MITCHIKPE</h4>
                            <p class="text-uppercase team-designation">Développeur</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="team-box text-center">
                            <div class="team-wrapper">
                                <div class="team-member">
                                    <img alt="" src="{{ asset ('assets/frontend/images/team/img-4.jpg') }}" alt="" class="img-fluid rounded">
                                </div>
                            </div>
                            <h4 class="team-name text-uppercase">Kenneth GANDJI</h4>
                            <p class="text-uppercase team-designation"></em>Conseiller, Marketeur</p>
                        </div>
                    </div>

                </div>

            </div>
        </section> -->

            <section class="section bg-grey text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-12">

                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <blockquote>
                                            <div class="row">
                                                <div class="col-md-8 offset-md-2">
                                                    <div class="testimonial-box">
                                                        <div class="mb-4">
                                                            <i class="mdi mdi-format-quote-open quote-icon"></i>
                                                        </div>
                                                        <h6 class="testimonial-team-desc mb-4">SKYRAN GROUP la
                                                            satisfaction du client fait partie de la priorité de nos
                                                            experts. Tant que vous n'êtes pas satisfait, nous non
                                                            plus..Nous vous offrons des services de meilleure qualité
                                                            car vous êtes un client de qualité.</h6>

                                                        <!-- <p class="testmonial-team-name">Albert Adorson</p>
                                                    <p class="testmonial-team-designation">CEO, Pic.com</p> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </blockquote>
                                    </div>
                                    <div class="carousel-item">
                                        <blockquote>
                                            <div class="row">
                                                <div class="col-md-8 offset-md-2">
                                                    <div class="testimonial-box">
                                                        <div class="mb-4">
                                                            <i class="mdi mdi-format-quote-open quote-icon"></i>
                                                        </div>
                                                        <h6 class="testimonial-team-desc mb-4">SKYRAN-GROUP Sarl a pour
                                                            mission de mettre à profit son expertise dans le domaine
                                                            informatique, statistique et sociologique. Nous créons de la
                                                            valeur à travers toutes nos prestations en nous basant sur
                                                            les bonnes pratiques recommandées par les normes
                                                            internationales..</h6>

                                                        <!-- <p class="testmonial-team-name">Albert Adorson</p>
                                                    <p class="testmonial-team-designation">CEO, Pic.com</p> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </blockquote>
                                    </div>
                                    <div class="carousel-item">
                                        <blockquote>
                                            <div class="row">
                                                <div class="col-md-8 offset-md-2">
                                                    <div class="testimonial-box">
                                                        <div class="mb-4">
                                                            <i class="mdi mdi-format-quote-open quote-icon"></i>
                                                        </div>
                                                        <h6 class="testimonial-team-desc mb-4"> LA SATISFACTION DU
                                                            CLIENT EST NOTRE DEVISE</h6>

                                                        <!-- <p class="testmonial-team-name">Albert Adorson</p>
                                                    <p class="testmonial-team-designation">CEO, Pic.com</p> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <!--Form Section-->

            <section class="sectionAAAA" id="contactAAA">
                {# <div class="container"> #}
                {# <div class="row">
                    <div class="col-12">
                        <div class="text-center">
                            <h3>Get In Touch</h3>
                            <p class="text-muted slogan">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.</p>
                        </div>
                    </div>
                </div>

                <br/> #}

                {# <form class="">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="username">Name</label>
                                <input type="text" class="form-control" id="username" required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="useremail">Email address</label>
                                <input type="email" class="form-control" id="useremail" required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="subject">Subject</label>
                                <input type="text" class="form-control" id="subject" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea class="form-control" rows="5" id="message"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-custom">Send Message</button>
                        </div>
                    </div>
                </form> #}
                {# </div> #}
            </section>

            <!--END FORM-->

            <!--start footer-->

            <!--END FOOTER-->

            <!-- js placed at the end of the document so the pages load faster -->
            <script src="{{ asset ('assets/frontend/js/jquery.min.js') }}"></script>
            {# <script src="{{ asset ('assets/frontend/js/bootstrap.bundle.min.js') }}"></script> #}
            <!-- Sticky Header -->
            <script src="{{ asset ('assets/frontend/js/jquery.sticky.js') }}"></script>
            <!-- Jquery easing -->
            <script src="{{ asset ('assets/frontend/js/jquery.easing.min.js') }}"></script>
            <script src="{{ asset ('assets/frontend/js/jquery.magnific-popup.min.js') }}"></script>
            <!--common script for all pages-->
            <script src="{{ asset ('assets/frontend/js/jquery.app.js') }}"></script>
            {# </body> #}

        </div>
    </div>
</div>

{% endblock %}