{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block body %}
{# <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/godson/skyranFacturation/src/Controller/CommandeController.php'|file_link(0) }}">src/Controller/CommandeController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/godson/skyranFacturation/templates/commande/index.html.twig'|file_link(0) }}">templates/commande/index.html.twig</a></code></li>
    </ul>
</div> #}



    <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-md-6 col-xl-3">
                               <div class="card">
                                   <div class="card-body">
                                    <div class="mini-stat clearfix">
                                        <span class="mini-stat-icon bg-purple mr-0 float-right"><i class="mdi mdi-basket"></i></span>
                                        <div class="mini-stat-info">
                                            <span class="counter text-purple">251</span>
                                            Total Ventes
                                        </div>
                                        <div class="clearfix"></div>
                                        <p class=" mb-0 mt-4 text-muted"> Revenue Total: <strong>2.243.506 FCFA</strong>
                                        {# <span class="float-right"><i class="fa fa-caret-up mr-1"></i>10.25%</span> #}
                                        </p>
                                    </div>
                                   </div>
                               </div>
                            </div>
                            <div class="col-md-6 col-xl-3">
                               <div class="card">
                                   <div class="card-body">
                                    <div class="mini-stat clearfix">
                                        <span class="mini-stat-icon bg-blue-grey mr-0 float-right"><i class="mdi mdi-black-mesa"></i></span>
                                        <div class="mini-stat-info">
                                            <span class="counter text-blue-grey">65</span>
                                            Totale Commandes
                                        </div>
                                        <div class="clearfix"></div>
                                        <p class="text-muted mb-0 mt-4">Commandes Aboutis: <strong>45</strong> 
                                        {# <span class="float-right"><i class="fa fa-caret-up mr-1"></i>10.25%</span> #}
                                        </p>
                                    </div>
                                   </div>
                               </div>
                            </div>
                            <div class="col-md-6 col-xl-3">
                               <div class="card">
                                   <div class="card-body">
                                    <div class="mini-stat clearfix">
                                        <span class="mini-stat-icon bg-brown mr-0 float-right"><i class="mdi mdi-buffer"></i></span>
                                        <div class="mini-stat-info">
                                            <span class="counter text-brown">85</span>                                            
                                            Total Factures
                                        </div>
                                        <div class="clearfix"></div>
                                        <p class="text-muted mb-0 mt-4"> Payées: <strong>73 </strong>&nbsp&nbsp Impayées: <strong>12 </strong>
                                        {# <span class="float-right"><i class="fa fa-caret-up mr-1"></i>10.25%</span> #}
                                        </p>
                                    </div>
                                   </div>
                               </div>
                            </div>
                            <div class="col-md-6 col-xl-3">
                               <div class="card">
                                   <div class="card-body">
                                    <div class="mini-stat clearfix">
                                        <span class="mini-stat-icon bg-teal mr-0 float-right"><i class="mdi mdi-database"></i></span>
                                        <div class="mini-stat-info">
                                            <span class="counter text-teal">320</span>
                                            Total Produits
                                        </div>
                                        <div class="clearfix"></div>
                                        <p class="text-muted mb-0 mt-4">Produits vendus: <strong>102</strong> 
                                        {# <span class="float-right"><i class="fa fa-caret-up mr-1"></i>10.25%</span> #}
                                        </p>
                                    </div>
                                   </div>
                               </div>
                            </div>
                        </div>


                        <div class="row">

                            {# <div class="col-xl-9">

                                <div class="row">
                                    <div class="col-md-9 monthly-earning-wid">
                                        <div class="card" style="height: 480px;">
                                            <div class="card-body">
                                                <h4 class="card-title">Monthly Earnings</h4>

                                                <div class="text-center">
                                                    <div class="btn-group mt-4" role="group" aria-label="Basic example">
                                                        <button type="button" class="btn btn-secondary">Day</button>
                                                        <button type="button" class="btn btn-secondary">Month</button>
                                                        <button type="button" class="btn btn-secondary">Year</button>
                                                    </div>
                                                </div>

                                                <div id="combine-chart" dir="ltr"></div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 earning-wid">
                                        <div class="card" style="height: 480px;">
                                            <div class="card-body">
                                                <div class="mb-4">
                                                    <p>Weekly Earnings</p>
                                                    <h5>$1,542</h5>
                                                    <span class="peity-line" data-width="100%" data-peity='{ "fill": ["rgba(103,168,228,0.3)"],"stroke": ["rgba(103,168,228,0.8)"]}' data-height="60">6,2,8,4,3,8,1,3,6,5,9,2,8,1,4,8,9,8,2,1</span>
                                                </div>
                                                <div class="mb-4">
                                                    <p>Monthly Earnings</p>
                                                    <h5>$6,451</h5>
                                                    <span class="peity-line" data-width="100%" data-peity='{ "fill": ["rgba(74,193,142,0.3)"],"stroke": ["rgba(74,193,142,0.8)"]}' data-height="60">6,2,8,4,-3,8,1,-3,6,-5,9,2,-8,1,4,8,9,8,2,1</span>
                                                </div>
                                                <div class="mb-4">
                                                    <p>Yearly Earnings</p>
                                                    <h5>$84,574</h5>
                                                    <span class="peity-line" data-width="100%" data-peity='{ "fill": ["rgba(232, 65, 38,0.3)"],"stroke": ["rgba(232, 65, 38,0.8)"]}' data-height="60">6,2,8,4,3,8,1,3,6,5,9,2,8,1,4,8,9,8,2,1</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div> #}

                            <div class="col-xl-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title mb-4">Statistique des ventes</h4>

                                        <div class="row text-center mt-4 pt-3">
                                            <div class="col-6">
                                                <h5 class="mb-0 font-size-18">25610</h5>
                                                <p class="text-muted">Activated</p>
                                            </div>
                                            <div class="col-6">
                                                <h5 class="mb-0 font-size-18">56210</h5>
                                                <p class="text-muted">Pending</p>
                                            </div>
                                        </div>


                                        <div id="donut-chart" dir="ltr"></div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title mb-4">Statistique des flux(vente-Intervention-Commande)</h4>

                                        <div class="row text-center mt-4 pt-3">
                                            <div class="col-6">
                                                <h5 class="mb-0 font-size-18">25610</h5>
                                                <p class="text-muted">Activated</p>
                                            </div>
                                            <div class="col-6">
                                                <h5 class="mb-0 font-size-18">56210</h5>
                                                <p class="text-muted">Pending</p>
                                            </div>
                                        </div>


                                        <div id="donut-chart" dir="ltr"></div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- end row -->


                        {# <div class="row">
                            <div class="col-xl-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Recent Stock</h4>

                                        <div class="text-center">
                                            <div dir="ltr">
                                                <input class="knob" data-width="120" data-height="120" data-linecap=round
                                                   data-fgColor="#ffbb44" value="80" data-skin="tron" data-angleOffset="180"
                                                   data-readOnly=true data-thickness=".1"/>
                                            </div>

                                            <div class="clearfix"></div>
                                            <a href="#" class="btn btn-sm btn-warning mt-4">View All Data</a>
                                            <ul class="list-inline row mt-4 clearfix">
                                                <li class="col-6">
                                                    <p class="mb-1 font-size-18 font-weight-bold">7,541</p>
                                                    <p class="mb-0">Mobile Phones</p>
                                                </li>
                                                <li class="col-6">
                                                    <p class="mb-1 font-size-18 font-weight-bold">125</p>
                                                    <p class="mb-0">Desktops</p>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Purchase Order</h4>

                                        <div class="text-center">
                                            <div dir="ltr">
                                                <input class="knob" data-width="120" data-height="120" data-linecap=round
                                                   data-fgColor="#4ac18e" value="68" data-skin="tron" data-angleOffset="180"
                                                   data-readOnly=true data-thickness=".1"/>
                                            </div>

                                            <div class="clearfix"></div>
                                            <a href="#" class="btn btn-sm btn-success mt-4">View All Data</a>
                                            <ul class="list-inline row mt-4 clearfix">
                                                <li class="col-6">
                                                    <p class="mb-1 font-size-18 font-weight-bold">2,541</p>
                                                    <p class="mb-0">Mobile Phones</p>
                                                </li>
                                                <li class="col-6">
                                                    <p class="mb-1 font-size-18 font-weight-bold">874</p>
                                                    <p class="mb-0">Desktops</p>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Shipped Orders</h4>

                                        <div class="text-center">
                                            <div dir="ltr">
                                                <input class="knob" data-width="120" data-height="120" data-linecap=round
                                                   data-fgColor="#8d6e63" value="39" data-skin="tron" data-angleOffset="180"
                                                   data-readOnly=true data-thickness=".1"/>
                                            </div>

                                            <div class="clearfix"></div>
                                            <a href="#" class="btn btn-sm btn-brown mt-4">View All Data</a>
                                            <ul class="list-inline row mt-4 clearfix">
                                                <li class="col-6">
                                                    <p class="mb-1 font-size-18 font-weight-bold">1,154</p>
                                                    <p class="mb-0">Mobile Phones</p>
                                                </li>
                                                <li class="col-6">
                                                    <p class="mb-1 font-size-18 font-weight-bold">89</p>
                                                    <p class="mb-0">Desktops</p>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Cancelled Orders</h4>

                                        <div class="text-center">
                                            <div dir="ltr">
                                                <input class="knob" data-width="120" data-height="120" data-linecap=round
                                                   data-fgColor="#90a4ae" value="95" data-skin="tron" data-angleOffset="180"
                                                   data-readOnly=true data-thickness=".1"/>
                                            </div>

                                            <div class="clearfix"></div>
                                            <a href="#" class="btn btn-sm btn-blue-grey mt-4">View All Data</a>
                                            <ul class="list-inline row mt-4 clearfix">
                                                <li class="col-6">
                                                    <p class="mb-1 font-size-18 font-weight-bold">95</p>
                                                    <p class="mb-0">Mobile Phones</p>
                                                </li>
                                                <li class="col-6">
                                                    <p class="mb-1 font-size-18 font-weight-bold">25</p>
                                                    <p class="mb-0">Desktops</p>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div> #}
                        <!-- end row -->

                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title mb-4">Récentes Ventes</h4>

                                        <div class="table-responsive">
                                            <table class="table table-centered table-vertical table-nowrap mb-0">

                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <img src="assets/images/users/avatar-2.jpg" alt="user-image" class="avatar-sm rounded-circle mr-2"/>
                                                        Herbert C. Patton
                                                    </td>
                                                    <td><i class="mdi mdi-checkbox-blank-circle text-success"></i> Confirm</td>
                                                    <td>
                                                        $14,584
                                                        <p class="m-0 text-muted font-size-14">Amount</p>
                                                    </td>
                                                    <td>
                                                        5/12/2016
                                                        <p class="m-0 text-muted font-size-14">Date</p>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-secondary btn-sm waves-effect">Edit</button>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <img src="assets/images/users/avatar-3.jpg" alt="user-image" class="avatar-sm rounded-circle mr-2"/>
                                                        Mathias N. Klausen
                                                    </td>
                                                    <td><i class="mdi mdi-checkbox-blank-circle text-warning"></i> Waiting payment</td>
                                                    <td>
                                                        $8,541
                                                        <p class="m-0 text-muted font-size-14">Amount</p>
                                                    </td>
                                                    <td>
                                                        10/11/2016
                                                        <p class="m-0 text-muted font-size-14">Date</p>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-secondary btn-sm waves-effect">Edit</button>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <img src="assets/images/users/avatar-4.jpg" alt="user-image" class="avatar-sm rounded-circle mr-2"/>
                                                        Nikolaj S. Henriksen
                                                    </td>
                                                    <td><i class="mdi mdi-checkbox-blank-circle text-success"></i> Confirm</td>
                                                    <td>
                                                        $954
                                                        <p class="m-0 text-muted font-size-14">Amount</p>
                                                    </td>
                                                    <td>
                                                        8/11/2016
                                                        <p class="m-0 text-muted font-size-14">Date</p>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-secondary btn-sm waves-effect">Edit</button>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <img src="assets/images/users/avatar-5.jpg" alt="user-image" class="avatar-sm rounded-circle mr-2"/>
                                                        Lasse C. Overgaard
                                                    </td>
                                                    <td><i class="mdi mdi-checkbox-blank-circle text-danger"></i> Payment expired</td>
                                                    <td>
                                                        $44,584
                                                        <p class="m-0 text-muted font-size-14">Amount</p>
                                                    </td>
                                                    <td>
                                                        7/11/2016
                                                        <p class="m-0 text-muted font-size-14">Date</p>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-secondary btn-sm waves-effect">Edit</button>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <img src="assets/images/users/avatar-6.jpg" alt="user-image" class="avatar-sm rounded-circle mr-2"/>
                                                        Kasper S. Jessen
                                                    </td>
                                                    <td><i class="mdi mdi-checkbox-blank-circle text-success"></i> Confirm</td>
                                                    <td>
                                                        $8,844
                                                        <p class="m-0 text-muted font-size-14">Amount</p>
                                                    </td>
                                                    <td>
                                                        1/11/2016
                                                        <p class="m-0 text-muted font-size-14">Date</p>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-secondary btn-sm waves-effect">Edit</button>
                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title mb-4">Récentes Factures</h4>

                                        <div class="table-responsive">
                                            <table class="table table-centered table-vertical table-nowrap mb-0">

                                                <tbody>
                                                <tr>
                                                    <td>#12354781</td>
                                                    <td>
                                                        <img src="assets/images/products/1.jpg" alt="user-image" style="height: 48px;" class="rounded mr-2" />
                                                        Riverston Glass Chair
                                                    </td>
                                                    <td><span class="badge badge-pill badge-success">Delivered</span></td>
                                                    <td>
                                                        $185
                                                    </td>
                                                    <td>
                                                        5/12/2016
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-secondary btn-sm waves-effect">Edit</button>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>#52140300</td>
                                                    <td>
                                                        <img src="assets/images/products/2.jpg" alt="user-image" style="height: 48px;" class="rounded mr-2" />
                                                        Shine Company Catalina
                                                    </td>
                                                    <td><span class="badge badge-pill badge-success">Delivered</span></td>
                                                    <td>
                                                        $1,024
                                                    </td>
                                                    <td>
                                                        5/12/2016
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-secondary btn-sm waves-effect">Edit</button>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>#96254137</td>
                                                    <td>
                                                        <img src="assets/images/products/3.jpg" alt="user-image" style="height: 48px;" class="rounded mr-2" />
                                                        Trex Outdoor Furniture Cape
                                                    </td>
                                                    <td><span class="badge badge-pill badge-danger">Cancel</span></td>
                                                    <td>
                                                        $657
                                                    </td>
                                                    <td>
                                                        5/12/2016
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-secondary btn-sm waves-effect">Edit</button>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>#12365474</td>
                                                    <td>
                                                        <img src="assets/images/products/4.jpg" alt="user-image" style="height: 48px;" class="rounded mr-2" />
                                                        Oasis Bathroom Teak Corner
                                                    </td>
                                                    <td><span class="badge badge-pill badge-warning">Shipped</span></td>
                                                    <td>
                                                        $8451
                                                    </td>
                                                    <td>
                                                        5/12/2016
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-secondary btn-sm waves-effect">Edit</button>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>#85214796</td>
                                                    <td>
                                                        <img src="assets/images/products/5.jpg" alt="user-image" style="height: 48px;" class="rounded mr-2" />
                                                        BeoPlay Speaker
                                                    </td>
                                                    <td><span class="badge badge-pill badge-success">Delivered</span></td>
                                                    <td>
                                                        $584
                                                    </td>
                                                    <td>
                                                        5/12/2016
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-secondary btn-sm waves-effect">Edit</button>
                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                        
                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

{% endblock %}
