{% extends "connexion.html.twig" %}
{% block title %}SkBilling |Login{% endblock %} 


{% block body %}
     <!-- Loader -->
        <div id="preloader"><div id="status"><div class="spinner"></div></div></div>

         <!-- Begin page -->
         <div class="accountbg" style="background: url('assets/images/bg.jpg');background-size: cover;background-position: center;"></div>

        <div class="account-pages mt-5 pt-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center mt-4">
                                    <div class="mb-3">
                                        <a href="{{path('login_users')}}"><img src="{{ asset ('assets/images/logo.png') }}" height="53px" alt="logo Skyarn Group"></a>
                                    </div>
                                </div>
                                <div class="p-3">
                                    <h4 class="font-size-18 mt-2 text-center">Bienvenue !</h4>
                                    <p class="text-muted text-center mb-4">Connectez-vous pour accéder à <strong>SkBilling</strong>.<br>
                                    <strong>Votre logiciel de facturation complète.</strong></p>
    
                                    <form class="form-horizontal" action=" {{ path('login_users') }} " method="post">
    
                                        <div class="form-group">
                                            <label for="username">Email</label>
                                            <input type="text" class="form-control"  required name="_username" placeholder="Votre email...">
                                        </div>
    
                                        <div class="form-group">
                                            <label for="userpassword">Password</label>
                                            <input type="password" class="form-control"  required name="_password" placeholder="Votre mot de passe...">
                                        </div>
    
                                        <div class="form-group row mt-4">
                                            <div class="col-sm-6">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customControlInline">
                                                    <label class="custom-control-label" for="customControlInline">Se rappeler de moi</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 text-right">
                                            <input type="hidden" name="_target_path" value="{{ 'accueil' }}">
                                                <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Se connecter</button>
                                            </div>
                                        </div>
    
                                        <div class="form-group mb-0 row">
                                            <div class="col-12 mt-4">
                                                <a href="{{path('recorver_pwd')}}" class="text-muted"><i class="mdi mdi-lock"></i> Mot de passe oublié?</a>
                                            </div>
                                        </div>
                                    </form>
    
                                </div>
    
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <p class="text-white">Pas encore de compte ? <a href="{{path('registration_users')}}" class="font-weight-bold text-primary"> S'inscrire </a> </p>
                            <p class="text-white">2019 - 2020 © SkBilling. Crafted with <i class="mdi mdi-heart text-danger"></i> by <a href="https://store.skyran-group.com">SKYRAN-GROUP</a></p>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
{% endblock %}