{% extends "connexion.html.twig" %}

{% block body %}
      <!-- Loader -->
        <div id="preloader"><div id="status"><div class="spinner"></div></div></div>

         <!-- Begin page -->
         <div class="accountbg" style="background: url('assets/images/bg.jpg');background-size: cover;background-position: center;"></div>

        <div class="account-pages mt-5 pt-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center mt-4">
                                    <div class="mb-3">
                                        <a href="index.html"><img src="{{ asset ('assets/images/logo.png') }}" height="53" alt="logo"></a>
                                    </div>
                                </div>
                                <div class="p-3">
                                    <h4 class="font-size-18 mt-2 text-center">Réinitialisation</h4>
                                    <p class="text-muted text-center mb-4"> Entrer votre email et les instructions vous seront envoyé pour réinitialiser votre mot de passe.</p>
    
                                    <form class="form-horizontal" action="">

                                        <div class="form-group">
                                            <label for="useremail">Email</label>
                                            <input type="email" class="form-control" id="useremail" placeholder="Votre email">
                                        </div>

                                        <div class="form-group">
                                            <div class="text-right">
                                                <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Réinitialiser</button>
                                            </div>
                                        </div>
                                    </form>
    
                                </div>
    
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <p class="text-white">Enfin rappelé ? <a href="{{path('login_users')}}" class="font-weight-bold text-primary"> Se connecter ici </a> </p>
                            <p class="text-white">2017 - 2020 © SkBilling. Crafted with <i class="mdi mdi-heart text-danger"></i> by <a href="https://store.skyran-group.com">SKYRAN-GROUP</a></p>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
{% endblock %}