{% extends "connexion.html.twig" %}
{% block title %}SkBilling |Inscription{% endblock %} 


{% block body %}
     <!-- Loader -->
        <div id="preloader"><div id="status"><div class="spinner"></div></div></div>

        <!-- Begin page -->
        <div class="accountbg" style="background: url('assets/images/bg-2.jpg');background-size: cover;background-position: center;"></div>

        <div class="account-pages mt-5 pt-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center mt-4">
                                    <div class="mb-3">
                                        <a href="index.html"><img src="{{ asset ('assets/images/logo.png') }}" height="53px" alt="logo Skyarn Group"></a>
                                    </div>
                                </div>
                                <div class="p-3">
                                    <h4 class="font-size-18 mt-2 text-center">Inscription</h4>
                                    <p class="text-muted text-center mb-4">Inscrivez-vous pour accéder à SkBilling.</p>
    
                                    {# <form class="form-horizontal" action="https://themesbrand.com/admiria/layouts/vertical/index.html"> #}
                                    {{ form_start(formRegistration,{'attr':{'class':'form-horizontal'}})}}

                                        <div class="form-group">
                                            <label for="name">Nom & prénom</label>
                                            {# <input type="text" class="form-control" id="username" placeholder="Votre username..."> #}
                                            {{ form_widget(formRegistration.name,{'attr':{'class':'form-control','placeholder':"Votre nom & prénom..."}})  }}
                                        </div>                                                                            
    
                                        <div class="form-group">
                                            <label for="username">Username</label>
                                            {# <input type="text" class="form-control" id="username" placeholder="Votre username..."> #}
                                            {{ form_widget(formRegistration.username,{'attr':{'class':'form-control','placeholder':"Votre nom d'\utilisateur..."}})  }}
                                        </div>

                                         <div class="form-group">
                                            
                                            {# <input type="email" class="form-control" id="useremail" placeholder="Vottre  email..."> #}
                                             {# {{ form_widget(formRegistration.email,{'attr':{'class':'form-control','placeholder':"Votre email..."}})  }} #}
                                             {{ form_row(formRegistration.email,{'label':'Email','attr':{'class':'form-control','placeholder':"Votre email..."}})  }}
                                        </div>
    
                                        <div class="form-groupff">
                                            {# <label for="userpassword"> Mot de passe</label> #}
                                            {# <input type="password" class="form-control" id="userpassword" placeholder="Votre mot de passe..."> #}
                                            {# {{ form_widget(formRegistration.password,{'attr':{'class':'form-control','placeholder':"Votre email..."}})  }} #}
                                            {{ form_row(formRegistration.password,{'label':'Mot de passe','attr':{'class':'form-control','placeholder':"Votre mot de passe..."}})  }}
                                        </div>

                                        <div class="form-group">
                                            
                                            {# <input type="password" class="form-control" id="userpassword" placeholder="Retapez votre smot de passe..."> #}
                                            {{ form_row(formRegistration.confirm_password,{'label':'Confirmation','attr':{'class':'form-control','placeholder':"Retapez votre mot de passe..."}})  }}
                                        </div>
    
                                        <div class="form-group">
                                            <div class="text-right">
                                                <button class="btn btn-primary w-md waves-effect waves-light" type="submit">S'inscrire</button>
                                            </div>
                                        </div>
    
                                        <div class="form-group mb-0 row">
                                            <div class="col-12 mt-4">
                                                <p class=" text-muted mb-0"> En vous inscrivant vous acceptez les <a href="#">Conditions d'utilisation</a></p>
                                            </div>
                                        </div>
                                    {# </form> #}
                                    {{ form_end(formRegistration) }}
    
                                </div>
    
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <p class="text-white">Vous-avez déja un compte ?  <a href="{{path('login_users')}}" class="font-weight-bold text-primary"> Se connecter</a> </p>
                            <p class="text-white">2019 - 2020 © SkBilling. Crafted with <i class="mdi mdi-heart text-danger"></i>By <a href="https://store.skyran-group.com">SKYRAN-GROUP</a></p>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
   

{% endblock %}
{% block javascripts  %}{% endblock %}