{% extends 'base.html.twig' %} {% block body %}

<div class="main-content">
	<div class="page-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Informations Facture</h4>
							<p class="card-title-desc">
								Veillez renseigner toutes les informations relatives à la
								Facture
							</p>
							{{ form_start(formFacture,{'attr':{'class':'custom-validation'  }})}}
							<div class="form-group">
								<label>Numero</label>
								{{ form_widget(formFacture.numero,{'attr':{'class':'form-control','placeholder':"MECEF NIM " }}) }}
							</div>
							<div class="form-group">
								<label>Date</label>
								{{ form_widget(formFacture.date,{'attr':{'class':'form-control','placeholder':"MECEF NIM " }}) }}
							</div>
							<div class="form-group">
								<label>Total HT</label>
								{{ form_widget(formFacture.totalHT,{'attr':{'class':'form-control','placeholder':"MECEF NIM " }}) }}
							</div>
							<div class="form-group">
								<label>Total TTC</label>
								{{ form_widget(formFacture.totalTTC,{'attr':{'class':'form-control','placeholder':"MECEF NIM " }}) }}
							</div>
							<div class="form-group">
								<label>MECEF NIM</label>
								{{ form_widget(formFacture.mecefNim,{'attr':{'class':'form-control','placeholder':"MECEF NIM " }}) }}
							</div>
							<div class="form-group">
								<label>MECEF COMPTEUR</label>
								{{ form_widget(formFacture.mecefCompteur,{'attr':{'class':'form-control','placeholder':"MECEF COMPTEUR" }}) }}
							</div>
							<div class="form-group">
								<label>MECEF HEURE</label>
								{{ form_widget(formFacture.mecefHeure) }}
							</div>
							
							<div class="form-group">
								<label>ISF</label>
								<div>
									{{ form_widget(formFacture.isf,{'attr':{'class':'form-control','placeholder':"ISF"}}) }}
								</div>
							</div>
							<div class="form-group">
								<label>Montant Payé</label>
								<div>
									{{ form_widget(formFacture.montantPaye,{'attr':{'class':'form-control'}}) }}
								</div>
							</div>
							<div class="form-group">
								<label>Reste</label>
								<div>
									{{ form_widget(formFacture.reste,{'attr':{'class':'form-control'}}) }}
								</div>
							</div>
							<div class="form-group">
								<label>Montant AIB</label>
								{{ form_widget(formFacture.aib,{'attr':{'class':'form-control'}}) }}
							</div>

							<div class="form-group">
								<label>Code QR</label>
								{{ form_widget(formFacture.codeqr,{'attr':{'class':'form-control','placeholder':'Code QR'}}) }}
							</div>

							<div class="form-group">
								<label>Type de paiement</label>
								<p style="display: inline-flex !important; margin-bottom: 0px;" class="card-title-desc">
									Cash ?
									{{ form_widget(formFacture.cash,{'attr':{'switch':"dark",'id':'switch9','checked':'checked'}}) }}

									<label for="facture_cash" data-on-label="Oui" data-off-label="Non"
										style="margin-left: 10px !important;">
									</label>
								</p>
							</div>
							<div class="form-group mb-0">
								<div>
									<button type="submit" class="btn btn-success">
										Sauvegarder
									</button>
									<button type="reset" class="btn btn-secondary waves-effect">
										Annuler
									</button>
								</div>
							</div>
							{{ form_end(formFacture) }}
						</div>
					</div>
				</div>
			</div>
			<!-- end col -->
		</div>
		<!-- end row -->
	</div>
	<!-- container-fluid -->
</div>

{% endblock %} {% block javascripts %}{% endblock %}