{% extends "base.html.twig" %}
{% block title %}SkBilling |Liste des factures{% endblock %}
{% block body %}

<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">


            <div class="row">
                <div class="form-group mb-0">
                    <div>

                    </div>
                </div>
                <hr>
                <div class="col-12">

                    <div class="card">
                        <div class="card-body">

                            <h4 class="card-title">Toutes les factures</h4>
                            <p class="card-title-desc">La liste de tous vos factures s'affichent ici.
                            </p>

                            <table id="datatable-buttons"
                                class="table table-striped table-bordered dt-responsive nowrap"
                                style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Numero</th>
                                        <th>Date</th>
                                        <th>Total HT</th>
                                        <th>Total TTC</th>
                                        <th>Montant payé</th>
                                        <th>Reste</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>


                                <tbody>
                                    {% for facture in factures %}
                                  
                                    <tr>
                                        <td> {{facture.numero}}</td>
                                        <td>{{facture.date|date("d/m/Y")}}</td>
                                        <td>{{facture.totalHT}}</td>
                                        <td>{{facture.totalTTC}}</td>
                                        <td>{{facture.montantPaye}}</td>
                                        <td>{{facture.reste}}</td>
                                        <td>
                                            <a href="{{path('edit_cmdFacture',{'id':facture.id})}}"
                                                class="mr-3 text-muted" data-toggle="tooltip" data-placement="top"
                                                title="Editer la facture" data-original-title="Editer"><i
                                                    class="mdi mdi-pencil font-size-18"></i></a>
                                            <!-- <a href="javascript:window.print()" class="text-muted" data-toggle="modal"
                                                data-target=".bs-example-modal-lg" data-placement="top"
                                                title="Détails facture" data-original-title="Détails"><i
                                                    class="mdi mdi-eye font-size-18"></i></a> -->
                                            {% if facture.commande is null %}
                                            <a href="{{path('vue_Cmdfacture',{'id':facture.vente.id,'cas':1})}}"
                                                class="text-muted" data-toggle="tooltip" data-placement="top"
                                                title="Visualiser la facture" data-original-title="Facture"><i
                                                    class="mdi mdi-eye font-size-18"></i></a>
                                            {% endif %}
                                            {% if facture.vente is null %}
                                            <a href="{{path('vue_Cmdfacture',{'id':facture.commande.id,'cas':0})}}"
                                                class="text-muted" data-toggle="tooltip" data-placement="top"
                                                title="Visualiser la facture" data-original-title="Facture"><i
                                                    class="mdi mdi-eye font-size-18"></i></a>
                                            {% endif %}
                                            {% if facture.reste > 0 %}
                                            <a href="{{path('ajout_paiement',{'id':facture.id})}}" class="text-muted"
                                                data-toggle="tooltip" data-placement="top" title="Payer"
                                                data-original-title="Paiement"><i
                                                    class="mdi mdi-cash font-size-18"></i></a>
                                            {% endif %}

                                            <!-- <a href="javascript:void(0);" class="text-muted" data-toggle="tooltip"
                                                data-placement="top" title="Supprimer"
                                                data-original-title="Supprimer"><i
                                                    class="mdi mdi-delete font-size-18"></i></a> -->


                                        </td>
                                    </tr>

                                    {% endfor %}

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->

            {# debut modal #}
            <div class="row">

                <div class="col-md-4 mt-4">

                    <!--  Modal content for the above example -->
                    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
                        aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content" style="display: inline-table !important;">
                                <div class="modal-header">
                                    <h5 class="modal-title mt-0" id="myLargeModalLabel">Détails facture</h5>
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">

                                    <table id="datatable-buttons"
                                        class="table table-striped table-bordered dt-responsive nowrap"
                                        style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>Numero</th>
                                                <th>Date</th>
                                                <th>Total HT</th>
                                                <th>Total TTC</th>
                                                <th>Paye</th>
                                                <th>Montant payé</th>
                                                <th>Reste</th>
                                                <th>Objet</th>
                                                <th>Cash ?</th>
                                            </tr>
                                        </thead>


                                        <tbody>
                                            <tr>
                                                <td>fgrkrt</td>
                                                <td>11/12/2019</td>
                                                <td>100.000</td>
                                                <td>118.000</td>
                                                <td>????</td>
                                                <td>88.000</td>
                                                <td>30.000</td>
                                                <td>Intervention</td>
                                                <td>Oui</td>

                                            </tr>
                                        </tbody>
                                    </table></br>


                                    <table id="datatable-buttons"
                                        class="table table-striped table-bordered dt-responsive nowrap"
                                        style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>
                                            <tr>

                                                <th>Paiements</th>
                                                <th>Aib</th>
                                                <th>mecef_Nim</th>
                                                <th>mecef_Compteur</th>
                                                <th>mecef_Heure</th>
                                                <th>Isf</th>
                                                <th>Code QR</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>

                                                <td>Espèce</td>
                                                <td>12.000</td>
                                                <td>HHGZTTYYUUGDD</td>
                                                <td>KJH2H3HKHK3KH</td>
                                                <td>HFHEIHE</td>
                                                <td>FEFEIOZD</td>
                                                <td>JKJ7822KJKL2K2K2</td>

                                            </tr>

                                        </tbody>
                                    </table>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary waves-effect"
                                        data-dismiss="modal">Fermer</button>
                                    {# <button type="button" class="btn btn-primary waves-effect waves-light">Valider</button> #}
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                </div>

            </div>

            {# fin modal #}



        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

    <!-- JAVASCRIPT -->



    {% endblock %}